@use "../../foundation/function" as f;
@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

/**
 * Object
 * ========================== */

/* Component ------------ */

/* button-primary */
.c-button-primary {
  $this: &;
  display: inline-block;
  position: relative;
  z-index: 1;
  width: 100%;
  overflow: hidden;
  border: solid 2px v.$COLOR_GREEN;
  text-align: center;
  background-color: v.$COLOR_WHITE;
  font-weight: 600;
  @include m.font(
    $color: v.$COLOR_GREEN,
    $letter-spacing: 40
  );

  &__text {
    position: relative;
    white-space: nowrap;
  }

  &__arrow {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: f.rem(8);
    height: f.rem(12);

    path {
      @include m.responsive(md) {
        transition: fill .3s ease-in-out;
      }
    }
  }

  &__blank {
    position: absolute;
    top: 50%;
    right: f.rem(20);
    transform: translateY(-50%);
    width: f.rem(12);
    height: f.rem(12);
    @include m.responsive(md) {
      right: f.rem(26);
    }
  }

  &::before {
    content: "";
    display: block;
    pointer-events: none;
    position: absolute;
    background: v.$COLOR_GREEN;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    padding-top: 100%;
    border-radius: 100%;
    transform-origin: center left;
    @include m.responsive(md) {
      transition: transform .4s ease-in-out;
    }
  }

  @include m.hover() {
    color: v.$COLOR_WHITE;

    #{$this}__arrow {
      path {
        fill: v.$COLOR_WHITE;
        stroke: none;
      }
    }

    #{$this}__blank {
      path {
        stroke: v.$COLOR_WHITE;
        &:nth-of-type(n + 2) {
          fill: v.$COLOR_WHITE;
        }
      }
    }

    &::before {
      transform: translate(-50%,-50%) scale(1.1);
    }
  }

  &--more,
  &--recipe-main,
  &--recommend-recipe {
    max-width: f.rem(210);
    padding: f.rem(16);
    border-radius: 26px;
    @include m.responsive(md) {
      max-width: f.rem(224);
      padding: f.rem(18);
      border-radius: 28px;
    }

    #{$this}__text {
      @include m.font(
        $font-size: 14
      );
    }

    #{$this}__arrow {
      right: f.rem(20);
    }
  }

  &--recipe-other,
  &--guide,
  &--introduction,
  &--review-write,
  &--review-post,
  &--news-single {
    max-width: f.rem(256);
    padding: f.rem(20) f.rem(8);
    border-radius: 30px;
    @include m.responsive(md) {
      max-width: f.rem(280);
      padding: f.rem(24) f.rem(8);
      border-radius: 34px;
    }

    #{$this}__text {
      @include m.font(
        $font-size: 14
      );
      @include m.responsive(md) {
        @include m.font(
          $font-size: 16
        );
      }
    }

    #{$this}__arrow {
      right: f.rem(22);
      @include m.responsive(md) {
        right: f.rem(26);
      }
    }
  }

  &--top-recipe {
    max-width: f.rem(256);
    padding: f.rem(16);
    border: solid 2px v.$COLOR_GREEN;
    border-radius: 30px;
    @include m.responsive(md) {
      max-width: f.rem(280);
      padding: f.rem(18);
      border-radius: 28px;
    }

    #{$this}__text {
      @include m.font($font-size: 14);

      @include m.responsive(md) {
        @include m.font($font-size: 15);
      }
    }

    #{$this}__arrow {
      right: f.rem(20);
    }

    @include m.hover() {
      background-color: solid 2px v.$COLOR_GREEN;

    }
  }

  &--review-write {
    #{$this}__arrow {
      @include m.responsive(md) {
        right: f.rem(26);
      }
    }
  }

  &--news-single {
    #{$this}__arrow {
      left: f.rem(26);
      transform: translate(-50%, -50%) rotate(180deg);
      @include m.responsive(md) {
        left: f.rem(30);
      }
    }
  }

  &--top-cart {
    max-width: f.rem(220);
    padding: f.rem(14);
    border: solid 2px v.$COLOR_RED;
    border-radius: 24px;
    background-color: v.$COLOR_RED;
    @include m.responsive(md) {
      max-width: f.rem(224);
      padding: f.rem(14);
      border-radius: 24px;
    }

    &::before {
      background-color: v.$COLOR_WHITE;
    }

    #{$this}__text {
      @include m.font(
        $color: v.$COLOR_WHITE,
        $font-size: 14
      );
    }

    #{$this}__arrow {
      right: f.rem(16);
    }

    @include m.hover() {
      #{$this}__text {
        @include m.font(
          $color: v.$COLOR_RED
        );
      }

      #{$this}__arrow {
        path {
          fill: v.$COLOR_RED;
        }
      }
    }
  }

  &--lineup-more {
    max-width: f.rem(220);
    padding: f.rem(14);
    border-radius: 24px;
    @include m.responsive(md) {
      max-width: f.rem(224);
      padding: f.rem(14);
      border-radius: 24px;
    }

    #{$this}__text {
      @include m.font(
        $font-size: 14
      );
    }

    #{$this}__arrow {
      right: f.rem(16);
    }
  }

  &--review-all {
    max-width: f.rem(256);
    padding: f.rem(21) f.rem(8);
    border-radius: 30px;
    background-color: v.$COLOR_GREEN;
    @include m.font(
      $color: v.$COLOR_WHITE,
      $font-size: 14
    );
    @include m.responsive(md) {
      max-width: f.rem(280);
      padding: f.rem(24);
      border-radius: 34px;
      @include m.font(
        $font-size: 16
      );
    }

    &::before {
      background-color: v.$COLOR_WHITE;
    }

    #{$this}__arrow {
      right: f.rem(20);
      @include m.responsive(md) {
        right: f.rem(26);
      }

      path {
        fill: v.$COLOR_WHITE;
      }
    }

    @include m.hover() {
      #{$this}__text {
        @include m.font(
          $color: v.$COLOR_GREEN
        );
      }

      #{$this}__arrow {
        path {
          fill: v.$COLOR_GREEN;
        }
      }
    }
  }

  &--cart {
    padding: f.rem(21);
    border: solid 2px v.$COLOR_RED;
    border-radius: 30px;
    background-color: v.$COLOR_RED;
    @include m.font(
      $color: v.$COLOR_WHITE,
      $font-size: 14
    );
    @include m.responsive(md) {
      padding: f.rem(19);
      border-radius: 28px;
    }

    &::before {
      background-color: v.$COLOR_WHITE;
    }

    #{$this}__arrow {
      right: f.rem(20);
    }

    @include m.hover() {
      #{$this}__text {
        @include m.font(
          $color: v.$COLOR_RED,
        );
      }

      #{$this}__arrow {
        path {
          fill: v.$COLOR_RED;
        }
      }
    }
  }

  &--course {
    padding: f.rem(10);
    border-radius: 20px;
    @include m.responsive(md) {
      padding: f.rem(14);
      border-radius: 24px;
    }

    #{$this}__text {
      @include m.font(
        $font-size: 13
      );
    }

    #{$this}__arrow {
      right: f.rem(12);
      @include m.responsive(md) {
        right: f.rem(20);
      }
    }
  }

  &--purchase {
    max-width: f.rem(256);
    padding: f.rem(20);
    border: solid 2px v.$COLOR_RED;
    border-radius: 30px;
    background-color: v.$COLOR_RED;
    @include m.responsive(md) {
      max-width: f.rem(280);
      padding: f.rem(24);
      border-radius: 34px;
    }

    &::before {
      background-color: v.$COLOR_WHITE;
    }

    #{$this}__text {
      pointer-events: none;
      @include m.font(
        $color: v.$COLOR_WHITE,
        $font-size: 14
      );
      @include m.responsive(md) {
        @include m.font(
          $font-size: 16
        );
      }
    }

    #{$this}__arrow {
      right: f.rem(20);
      @include m.responsive(md) {
        right: f.rem(26);
      }
    }

    @include m.hover() {
      #{$this}__text {
        @include m.font(
          $color: v.$COLOR_RED,
          $font-size: 15
        );
      }

      #{$this}__arrow {
        path {
          fill: v.$COLOR_RED;
        }
      }
    }
  }

  &--recipe {
    max-width: f.rem(256);
    padding: f.rem(16);
    border: solid 2px v.$COLOR_WHITE;
    border-radius: 30px;
    @include m.responsive(md) {
      max-width: f.rem(280);
      padding: f.rem(18);
      border-radius: 28px;
    }

    #{$this}__text {
      @include m.font(
        $font-size: 14
      );
      @include m.responsive(md) {
        @include m.font(
          $font-size: 15
        );
      }
    }

    #{$this}__arrow {
      right: f.rem(20);
    }

    @include m.hover() {
      background-color: solid 2px v.$COLOR_GREEN;

    }
  }

  &--top-guide {
    max-width: f.rem(256);
    padding: f.rem(20);
    background-color: v.$COLOR_GRAY_1;
    border: none;
    border-radius: 34px;
    pointer-events: none;
    @include m.responsive(md) {
      max-width: f.rem(280);
      padding: f.rem(24);
      border-radius: 34px;
    }

    #{$this}__text {
      @include m.font(
        $color: v.$COLOR_GRAY_7,
        $font-size: 14
      );
      @include m.responsive(md) {
        @include m.font(
          $font-size: 16
        );
      }
    }

    #{$this}__arrow {
      right: f.rem(22);
      width: f.rem(8);
      height: f.rem(12);
      @include m.responsive(md) {
        right: f.rem(24);
        width: f.rem(8);
        height: f.rem(12);
      }

      path {
        fill: v.$COLOR_GRAY_7;
      }
    }
  }

  &--contact {
    max-width: f.rem(256);
    padding: f.rem(20);
    border-radius: 30px;
    @include m.responsive(md) {
      max-width: f.rem(280);
      padding: f.rem(24);
      border-radius: 34px;
    }

    #{$this}__text {
      pointer-events: none;
      @include m.font(
        $font-size: 14
      );
      @include m.responsive(md) {
        @include m.font(
          $font-size: 16
        );
      }
    }

    #{$this}__arrow {
      right: f.rem(22);
      width: f.rem(8);
      height: f.rem(12);
      @include m.responsive(md) {
        right: f.rem(26);
        width: f.rem(8);
        height: f.rem(12);
      }
    }
  }

  &--review {
    max-width: f.rem(214);
    padding: f.rem(18);
    border-radius: 28px;
    @include m.responsive(md) {
      max-width: f.rem(280);
      padding: f.rem(14);
      border: solid 2px v.$COLOR_WHITE;
      border-radius: 24px;
    }

    #{$this}__text {
      @include m.font(
        $font-size: 14
      );
      @include m.responsive(md) {
        @include m.font(
          $font-size: 15
        );
      }
    }

    #{$this}__arrow {
      right: f.rem(20);
    }
  }

  &--product {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: f.vw(13, 375);
    border-radius: f.vw(22, 375);
    @include m.responsive(md) {
      padding: f.vw(14.5, 1280);
      border: solid 2px v.$COLOR_WHITE;
      border-radius: f.vw(24, 1280);
    }

    #{$this}__text {
      font-size: f.vw(14, 375);
      @include m.responsive(md) {
        font-size: f.vw(15, 1280);
      }
    }

    #{$this}__arrow {
      right: f.vw(14, 375);
      width: f.vw(8, 375);
      height: f.vw(12, 375);
      @include m.responsive(md) {
        right: f.vw(16, 1280);
        width: f.vw(8, 1280);
        height: f.vw(12, 1280);
      }
    }
  }

  &--use {
    padding: f.rem(18);
    border-radius: 28px;
    @include m.responsive(md) {
      border: solid 2px v.$COLOR_WHITE;
    }

    #{$this}__text {
      @include m.font(
        $font-size: 14
      );
      @include m.responsive(md) {
        @include m.font(
          $font-size: 15
        );
      }
    }

    #{$this}__arrow {
      right: f.rem(20);
    }
  }

  &--guide {
    max-width: f.rem(256);
    padding: f.rem(14);
    border-radius: 24px;
    @include m.responsive(md) {
      max-width: f.rem(280);
      padding: f.rem(14);
      border-radius: 24px;
    }

    #{$this}__text {
      pointer-events: none;
      @include m.font(
        $font-size: 14
      );
    }

    #{$this}__arrow {
      right: f.rem(18);
      width: f.rem(11.5);
      height: f.rem(7);
      pointer-events: none;
      @include m.responsive(md) {
        width: f.rem(11);
      }
    }
  }

  &--recipe-index {
    max-width: f.rem(220);
    padding: f.rem(14);
    border-radius: 24px;
    @include m.responsive(md) {
      max-width: f.rem(224);
      padding: f.rem(14);
      border-radius: 24px;
    }

    #{$this}__text {
      @include m.font(
        $font-size: 14
      );
      @include m.responsive(md) {
        @include m.font(
          $font-size: 15
        );
      }
    }

    #{$this}__arrow {
      right: f.rem(16);
    }
  }

  &--recipe-cart {
    max-width: f.rem(220);
    padding: f.rem(14);
    border-radius: 24px;
    @include m.responsive(md) {
      max-width: f.rem(224);
      padding: f.rem(14);
      border-radius: 24px;
    }

    #{$this}__text {
      @include m.font(
        $font-size: 14
      );
    }

    #{$this}__arrow {
      right: f.rem(16);
    }
  }
}