@use "../../foundation/function" as f;
@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

/**
 * Object
 * ========================== */

/* Component ------------ */

/* heading-secondary */
.c-heading-secondary {
  text-align: center;
  font-weight: 600;
  @include m.font(
    $color: v.$COLOR_GREEN,
    $font-size: 28,
    $letter-spacing: 40
  );
  @include m.responsive(md) {
    @include m.font(
      $font-size: 32
    );
  }
}