@use "../../foundation/function" as f;
@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

/**
 * Object
 * ========================== */

/* Component ------------ */

/* heading-primary */
.c-heading-primary {
  $this: &;
  text-align: center;
  font-weight: 600;

  &__sub {
    display: block;
    font-weight: 500;
    @include m.font(
      $color: v.$COLOR_YELLOW_GREEN
    );
  }

  &__main {
    display: block;
    margin-top: f.rem(16);
    @include m.font(
      $font-size: 32,
      $line-height: 31
    );
    @include m.responsive(md) {
      margin-top: 0;
    }
    sup {
      top: -1.3em;
      margin-left: f.rem(-10);
      @include m.font(
        $font-size: 13
      );
      @include m.responsive(md) {
        margin-left: f.rem(-12);
        @include m.font(
          $font-size: 19
        );
      }
    }
  }

  &__en {
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    @include m.font(
      $font-size: 36,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      @include m.font(
        $font-size: 53
      );
    }
  }

  &__ja {
    margin-left: f.rem(-10);
    font-weight: 700;
    @include m.font(
      $font-size: 30,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      margin-left: f.rem(-11);
      @include m.font(
        $font-size: 46
      );
    }
  }

  &--quality, &--stores {
    @include m.responsive(md) {
      text-align: left;
    }
    #{$this}__sub {
      font-weight: 600;
      @include m.font(
        $font-size: 15,
        $letter-spacing: 40
      );
      @include m.responsive(md) {
        @include m.font(
          $font-size: 18
        );
      }
    }
  }

  &--feature {
    #{$this}__number {
      position: relative;
      top: 3px;
      font-family:
        "游ゴシック体",
        YuGothic,
        "游ゴシック Medium",
        "Yu Gothic Medium",
        "游ゴシック",
        "Yu Gothic",
        sans-serif;
      @include m.font(
        $color: v.$COLOR_YELLOW_GREEN,
        $font-size: 47
      );
      @include m.responsive(md) {
        @include m.font(
          $font-size: 68
        );
      }
    }
    #{$this}__main {
      margin-top: f.rem(15);
      @include m.responsive(md) {
        margin-top: 0;
      }
    }
    #{$this}__sub {
      @include m.font(
        $font-size: 15,
        $letter-spacing: 40
      );
      @include m.responsive(md) {
        @include m.font(
          $font-size: 18
        );
      }
    }
  }

  &--lineup {
    text-align: center;
    #{$this}__main {
      margin-top: f.rem(12);
      font-family: 'Heebo', sans-serif;
      @include m.font(
        $font-size: 40
      );
      @include m.responsive(md) {
        margin-top: f.rem(16);
        @include m.font(
          $font-size: 53
        );
      }
    }
    #{$this}__sub {
      @include m.font(
        $font-size: 15,
        $letter-spacing: 40
      );
      @include m.responsive(md) {
        @include m.font(
          $font-size: 18
        );
      }
    }
  }

  &--quality, &--stores {
    text-align: left;
    #{$this}__main {
      margin-top: f.rem(11);
      @include m.font(
        $font-size: 32,
        $line-height: 36
      );
    }
    #{$this}__ja {
      @include m.font(
        $font-size: 30,
        $line-height: 40
      );
      @include m.responsive(md) {
        margin-left: f.rem(-11);
        @include m.font(
          $font-size: 44
        );
      }
    }
  }

  &--stores {
    sup {
      @include m.responsive(md) {
        top: -1.2em;
      }
    }
  }

  &--story {
    #{$this}__sub {
      font-family: 'Heebo', sans-serif;
      font-weight: 500;
      @include m.font(
        $font-size: 16
      );
      @include m.responsive(md) {
        @include m.font(
          $font-size: 20
        );
      }
    }
    #{$this}__main {
      margin-top: f.rem(9);
      @include m.responsive(md) {
        margin-top: f.rem(7);
        margin-left: f.rem(-10);
      }
      @include m.font(
        $font-size: 32,
        $line-height: 36
      );
    }
    #{$this}__ja {
      @include m.responsive(md) {
        margin-left: f.rem(-8);
      }
    }
  }

  &--products {
    text-align: center;
    #{$this}__main {
      margin-top: f.rem(12);
      font-family: 'Heebo', sans-serif;
      @include m.font(
        $color: v.$COLOR_WHITE,
        $font-size: 44,
        $letter-spacing: 40
      );
      @include m.responsive(md) {
        margin-top: f.rem(12);
        @include m.font(
          $font-size: 48
        );
      }
    }
    #{$this}__sub {
      @include m.font(
        $color: v.$COLOR_WHITE,
        $font-size: 15,
        $letter-spacing: 40
      );
      @include m.responsive(md) {
        @include m.font(
          $color: v.$COLOR_WHITE,
          $font-size: 16
        );
      }
    }
  }

  &--news {
    #{$this}__main {
      margin-top: f.rem(12);
      font-family: 'Heebo', sans-serif;
      @include m.font(
        $font-size: 44,
        $letter-spacing: 40
      );
      @include m.responsive(md) {
        margin-top: f.rem(12);
        @include m.font(
          $font-size: 50
        );
      }
    }

    #{$this}__sub {
      font-weight: 600;
      @include m.font(
        $font-size: 15,
        $letter-spacing: 40
      );
      @include m.responsive(md) {
        @include m.font(
          $font-size: 16
        );
      }
    }
  }

  &--cart {
    text-align: center;
    font-weight: 600;
    #{$this}__main {
      margin-top: f.rem(16);
      @include m.font(
        $font-size: 32,
        $letter-spacing: 40
      );
      @include m.responsive(md) {
        margin-top: f.rem(16);
        @include m.font(
          $font-size: 38,
        );
      }
    }
    #{$this}__sub {
      font-weight: 600;
      @include m.font(
        $font-size: 15,
        $letter-spacing: 40
      );
      @include m.responsive(md) {
        @include m.font(
          $font-size: 16
        );
      }
    }
  }

  &--review {
    #{$this}__main {
      margin-top: f.rem(12);
      font-family: 'Heebo', sans-serif;
      @include m.font(
        $font-size: 44,
        $letter-spacing: 40
      );
      @include m.responsive(md) {
        margin-top: f.rem(12);
        @include m.font(
          $font-size: 50
        );
      }
    }

    #{$this}__sub {
      font-weight: 600;
      @include m.font(
        $font-size: 15,
        $letter-spacing: 40
      );
      @include m.responsive(md) {
        @include m.font(
          $font-size: 16
        );
      }
    }
  }

  &--recipe {
    text-align: center;
    #{$this}__main {
      margin-top: f.rem(12);
      font-family: 'Heebo', sans-serif;
      @include m.font(
        $color: v.$COLOR_WHITE,
        $font-size: 44,
        $letter-spacing: 40
      );
      @include m.responsive(md) {
        margin-top: f.rem(12);
        @include m.font(
          $font-size: 50
        );
      }
    }

    #{$this}__sub {
      @include m.font(
        $color: v.$COLOR_WHITE,
        $font-size: 15,
        $letter-spacing: 40
      );
      @include m.responsive(md) {
        @include m.font(
          $color: v.$COLOR_WHITE,
          $font-size: 16
        );
      }
    }
  }
}