@use "../../foundation/function" as f;
@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

/**
 * Object
 * ========================== */

/* Component ------------ */

/* link */
.c-link {
  position: relative;
  font-weight: 600;
  @include m.font(
    $font-size: 15,
    $letter-spacing: 40
  );
  @include m.responsive(md) {
    transition: color .3s ease-in-out;
    @include m.font(
      $font-size: 17,
      $line-height: 22.5
    );
  }

  span {
    @include m.font(
      $font-size: 12,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      @include m.font(
        $font-size: 13
      );
    }
  }

  &:after {
    content: '';
    display: inline-block;
    width: f.rem(12);
    height: f.rem(12);
    margin-left: f.rem(7);
    background-image:  url('#{v.$root}assets/images/icon_blank.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  @include m.hover() {
    color: v.$COLOR_GREEN;
  }
}