@use "sass:math";
@use "../../foundation/function" as f;
@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

/**
 * Object
 * ========================== */

/* Component ------------ */

/* news-item */
.c-news-item {
  $this: &;
  border-radius: 6px;
  background-color: v.$COLOR_WHITE;
  @include m.responsive(md) {
    border-radius: 12px;
  }

  &__link {
    display: block;
    height: 100%;

    &[target="_blank"] {
      #{$this}__text {
        &::after {
          content: "";
          display: inline-block;
          width: f.rem(12);
          height: f.rem(12);
          margin-left: f.rem(7);
          vertical-align: text-top;
          background-image: url('#{v.$root}assets/images/icon_blank.svg');
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
    }

    @include m.hover() {
      #{$this}__text {
        @include m.font(
          $color: v.$COLOR_GREEN
        );
      }
    }
  }

  &__time {
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    @include m.flex(
      $align-items: center
    );

    &::before {
      content: "";
      display: inline-block;
      width: f.rem(14);
      height: f.rem(14);
      margin-right: f.rem(4);
      background-image: url('#{v.$root}assets/images/icon_time.svg');
      background-repeat: no-repeat;
      background-size: contain;
      @include m.responsive(md) {
        width: f.rem(17);
        height: f.rem(17);
        margin-right: f.rem(8);
      }
    }
  }

  &--top {
    #{$this}__link {
      padding: f.rem(24) f.rem(24) f.rem(18);
      @include m.responsive(md) {
        padding: f.rem(20) f.rem(32);
        @include m.flex(
          $align-items: center
        );
      }
    }

    #{$this}__time {
      @include m.font(
        $color: v.$COLOR_GREEN,
        $font-size: 14,
        $letter-spacing: 40
      );
      @include m.responsive(md) {
        @include m.font(
          $color: v.$COLOR_GREEN,
          $font-size: 16,
          $line-height: 23
        );
      }
    }

    #{$this}__text {
      margin-top: f.rem(5);
      @include m.font(
        $font-size: 14,
        $line-height: 22,
        $letter-spacing: 60
      );
      @include m.responsive(md) {
        margin-top: 0;
        margin-left: f.rem(14);
        transition: color .3s ease-in-out;
        @include m.font(
          $font-size: 15,
          $line-height: 23
        );
      }
    }
  }

  &--news {
    #{$this}__link {
      padding: f.rem(24) f.rem(25) f.rem(18);
      @include m.responsive(md) {
        padding: f.rem(36) f.rem(50) f.rem(34);
        @include m.flex(
          $align-items: flex-start
        );
      }
    }

    #{$this}__time {
      @include m.font(
        $color: v.$COLOR_GREEN,
        $font-size: 14,
        $letter-spacing: 40
      );
      @include m.responsive(md) {
        @include m.font(
          $color: v.$COLOR_GREEN,
          $font-size: 17
        );
        line-height: 1.5333333333;
      }
    }

    #{$this}__text {
      margin-top: f.rem(4);
      @include m.font(
        $font-size: 14,
        $line-height: 22,
        $letter-spacing: 60
      );
      @include m.responsive(md) {
        margin-top: f.rem(1);
        margin-left: f.rem(24);
        transition: color .3s ease-in-out;
        @include m.font(
          $font-size: 15,
          $line-height: 23,
          $letter-spacing: 40
        );
      }
    }
  }
}