@use "sass:math";
@use "../../foundation/function" as f;
@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

/**
 * Object
 * ========================== */

/* Component ------------ */

/* recipe-link */
.c-recipe-link {
  $this: &;
  position: relative;
  padding: f.rem(22) f.rem(26) f.rem(40);
  border-top-left-radius: 45px;
  border-bottom-right-radius: 45px;
  overflow: hidden;
  background-color: v.$COLOR_GREEN;
  @include m.responsive(md) {
    padding: f.rem(40) percentage(math.div(100, 1088)) f.rem(32) percentage(math.div(114, 1088));
    border-top-left-radius: 90px;
    border-bottom-right-radius: 90px;
  }

  &__column {
    @include m.responsive(md) {
      @include m.flex();
    }
  }

  &__text {
    flex-basis: percentage(math.div(304, 876));
    padding-top: f.rem(14);
    @include m.font(
      $color: v.$COLOR_WHITE
    );
    @include m.responsive(md) {
      padding-top: f.rem(14);
      padding-right: percentage(math.div(64, 864));
    }
  }

  &__head {
    @include m.flex(
      $direction: column-reverse,
      $align-items: center
    );
    @include m.responsive(md) {
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  &__en {
    margin-top: f.rem(8);
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    @include m.font(
      $font-size: 34
    );
    @include m.responsive(md) {
      margin-top: 0;
      @include m.font(
        $font-size: 44
      );
    }
  }

  &__ja {
    font-weight: 500;
    @include m.font(
      $font-size: 13
    );
    @include m.responsive(md) {
      margin-left: f.rem(10);
    }
  }

  &__body {
    margin-top: f.rem(14);
    @include m.responsive(md) {
      margin-top: f.rem(19);
    }
  }

  &__description {
    text-align: center;
    font-weight: 500;
    @include m.font(
      $font-size: 15,
      $line-height: 21,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      text-align: left;
      @include m.font(
        $font-size: 16,
        $line-height: 22
      );
    }
  }

  &__button-wrapper {
    width: f.rem(206);
    margin-top: f.rem(22);
    margin-right: auto;
    margin-left: auto;
    @include m.responsive(md) {
      width: f.rem(224);
      margin-top: f.rem(24);
      margin-left: 0;
    }
  }

  &__images {
    position: relative;
    z-index: 1;
    margin-top: f.rem(28);
    padding-top: f.rem(28);
    border-top: 2px solid rgba(v.$COLOR_WHITE, 0.5);
    @include m.flex();
    @include m.responsive(md) {
      align-items: center;
      flex-basis: percentage(math.div(572, 864));
      margin-top: 0;
      padding-top: 0;
      padding-left: percentage(math.div(64, 864));
      border-top: none;
      border-left: 2px solid rgba(v.$COLOR_WHITE, 0.5);
    }
  }

  &__image + &__image {
    margin-left: f.rem(20);
    @include m.responsive(md) {
      margin-left: f.rem(28);
    }
  }

  &__image {
    @include m.responsive(md) {
      margin-top: f.rem(-8);
    }
  }

  &__shape {
    position: absolute;
    will-change: transform;

    img {
      width: 100%;
    }

    &--01 {
      top: f.vw(-29, 375);
      left: f.vw(-22, 375);
      width: f.vw(115, 375);
      height: f.vw(115, 375);
      @include m.responsive(md) {
        top: f.rem(142);
        left: f.rem(-57);
        width: f.rem(112);
        height: f.rem(112);
      }

      path {
        stroke-width: 1px;
        @include m.responsive(md) {
          stroke-width: 2px;
        }
      }
    }

    &--02 {
      top: f.vw(40, 375);
      left: f.vw(-80, 375);
      width: f.vw(120, 375);
      height: f.vw(111, 375);
      @include m.responsive(md) {
        top: f.rem(210);
        left: f.rem(-6);
        width: f.rem(120);
        height: f.rem(110);
      }
    }

    &--03 {
      right: f.vw(-28, 375);
      bottom: f.vw(112, 375);
      width: f.vw(107, 375);
      height: f.vw(97, 375);
      @include m.responsive(md) {
        top: f.rem(-60);
        right: f.rem(-54);
        width: f.rem(214);
        height: f.rem(194);
      }
    }

    &--04 {
      right: f.vw(112, 375);
      bottom: f.vw(14, 375);
      width: f.vw(104.5, 375);
      height: f.vw(95.5, 375);
      @include m.responsive(md) {
        right: f.rem(277);
        bottom: f.rem(-28);
        width: f.rem(206);
        height: f.rem(188);
      }

      path {
        stroke-width: 2px;
        @include m.responsive(md) {
          stroke-width: 2px;
        }
      }
    }
  }
}