@use "../../foundation/function" as f;
@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

/**
 * Object
 * ========================== */

/* Component ------------ */

/* review-item */
.c-review-item {
  padding: f.rem(32) f.rem(25) f.rem(36);
  border-radius: 9px;
  background-color: v.$COLOR_WHITE;
  @include m.responsive(md) {
    padding: f.rem(32) f.rem(52) f.rem(30);
    border-radius: 12px;
  }

  &__column {
    @include m.responsive(md) {
      @include m.flex(
        $justify-content: space-between,
        $align-items: center
      );
    }
  }

  &__block {
    @include m.flex(
      $align-items: center
    );
  }

  &__user {
    font-weight: 600;
    @include m.font(
      $font-size: 15,
      $letter-spacing: 60
    );
    @include m.responsive(md) {
      @include m.font(
        $font-size: 16
      );
    }
  }

  &__score {
    margin-left: f.rem(10);
    @include m.responsive(md) {
      margin-left: f.rem(16);
    }

    span {
      display: inline-block;
      width: f.rem(14);
      height: f.rem(13);
      @include m.responsive(md) {
        width: f.rem(18);
        height: f.rem(17);
      }

      &:not(:first-of-type) {
        margin-left: f.rem(-4);
        @include m.responsive(md) {
          margin-left: f.rem(-2);
        }
      }

      img {
        vertical-align: top;
      }
    }
  }

  &__time {
    margin-top: f.rem(14);
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    @include m.flex(
      $align-items: flex-end
    );
    @include m.font(
      $color: v.$COLOR_GREEN,
      $font-size: 14,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      margin-top: f.rem(1);
      @include m.font(
        $font-size: 14
      );
    }

    &::before {
      content: "";
      display: inline-block;
      width: f.rem(14);
      height: f.rem(14);
      margin-right: f.rem(4);
      background-image: url('#{v.$root}assets/images/icon_time.svg');
      background-repeat: no-repeat;
      background-size: contain;
      @include m.responsive(md) {
        margin-right: f.rem(8);
        margin-bottom: f.rem(1);
      }
    }
  }

  &__text {
    margin-top: f.rem(16);
    @include m.font(
      $font-size: 14,
      $line-height: 22,
      $letter-spacing: 60
    );
    @include m.responsive(md) {
      margin-top: f.rem(20);
      @include m.font(
        $font-size: 14,
        $line-height: 21
      );
    }
  }
}