@use "../../foundation/function" as f;
@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

/**
 * Object
 * ========================== */

/* Component ------------ */

/* share */
.c-share {
  $this: &;
  @include m.flex(
    $align-items: center
  );

  &__head {
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    @include m.font(
      $font-size: 16,
      $letter-spacing: 40
    );
  }

  &__list {
    margin-left: f.rem(18);
    @include m.flex();
    @include m.responsive(md) {
      margin-left: f.rem(16);
    }
  }

  &__item {
    &:not(:first-of-type) {
      margin-left: f.rem(16);
      @include m.responsive(md) {
        margin-left: f.rem(12);
      }
    }
  }

  &--products {
    #{$this}__head {
      @include m.font(
        $font-size: 18,
        $letter-spacing: 40
      );
      @include m.responsive(md) {
        @include m.font(
          $font-size: 16
        );
      }
    }

    #{$this}__svg {
      width: f.rem(32);
      height: f.rem(32);
      @include m.responsive(md) {
        width: f.rem(24);
        height: f.rem(24);
      }
    }
  }

  &--news {
    #{$this}__head {
      @include m.font(
        $font-size: 20,
        $letter-spacing: 40
      );
    }

    #{$this}__svg {
      width: f.rem(36);
      height: f.rem(36);
      @include m.responsive(md) {
        width: f.rem(32);
        height: f.rem(32);
      }
    }
  }
}
