@use "../../foundation/function" as f;
@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

/**
 * Object
 * ========================== */

/* Component ------------ */

/* shape */
.c-shape {
  position: absolute;
  will-change: transform;

  img {
    width: 100%;
  }

  &--01 {
    top: f.vw(-32, 375);
    left: f.vw(-36, 375);
    z-index: 1;
    width: f.vw(150, 375);
    height: f.vw(187.5, 375);

    @include m.responsive(md) {
      top: f.rem(-97);
      left: f.rem(-71);
      width: f.rem(303);
      height: f.rem(278);
    }
  }

  &--02 {
    top: f.vw(77, 375);
    left: f.vw(-21, 375);
    width: f.vw(60, 375);
    height: f.vw(55, 375);

    @include m.responsive(md) {
      top: f.rem(121);
      left: f.rem(-42);
      width: f.rem(120);
      height: f.rem(111);
    }
  }

  &--03 {
    top: f.vw(179, 375);
    right: f.vw(-53, 375);
    width: f.vw(150, 375);
    height: f.vw(190.5, 375);

    @include m.responsive(md) {
      top: f.rem(180);
      right: f.rem(-112);
      width: f.rem(300);
      height: f.rem(281);
    }
  }
}
