@use "../../foundation/function" as f;
@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

/**
 * Object
 * ========================== */

/* Component ------------ */

/* sub-heading */
.c-sub-heading {
  $this: &;
  text-align: center;
  @include m.responsive(md) {
    @include m.flex();
  }

  &[id] {
    margin-top: f.rem(-86);
    padding-top: f.rem(86);
    @include m.responsive(md) {
      margin-top: f.rem(-160);
      padding-top: f.rem(160);
    }
  }

  &__head {
    display: block;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    white-space: nowrap;
    @include m.font(
      $color: v.$COLOR_WHITE,
      $font-size: 15
    );
  }

  &__point {
    display: inline-block;
    padding: f.rem(7) f.rem(15) f.rem(6);
    border-top-right-radius: 14px;
    border-bottom-left-radius: 14px;
    background-color: v.$COLOR_GREEN;
    @include m.font(
      $font-size: 15,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      padding: f.rem(11) f.rem(16) f.rem(11)  f.rem(18);
      border-top-right-radius: 16px;
      border-bottom-left-radius: 16px;
      @include m.font(
        $font-size: 18
      );
    }
  }

  &__number {
    display: inline-block;
    margin-left: f.rem(-1);
    padding: f.rem(7) f.rem(13) f.rem(6);
    border-top-left-radius: 14px;
    border-bottom-right-radius: 14px;
    background-color: v.$COLOR_GREEN;
    @include m.font(
      $font-size: 15,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      padding: f.rem(11) f.rem(15) f.rem(11) f.rem(17);
      border-top-left-radius: 16px;
      border-bottom-right-radius: 16px;
      @include m.font(
        $font-size: 18
      );
    }
  }

  &__body {
    display: block;
    margin-top: f.rem(10);
    font-weight: 600;
    @include m.font(
      $color: v.$COLOR_GREEN,
      $font-size: 32,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      margin-top: 0;
      margin-left: f.rem(20);
      text-align: left;
      @include m.font(
        $font-size: 40
      );
    }
  }

  sup {
    @include m.font(
      $font-size: 18
    );
  }

  &--feature {
    @include m.responsive(md) {
      flex-direction: column;
    }

    #{$this}__point {
      padding: f.vw(5) f.vw(11);
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;
      font-size: f.vw(10, 375);
      letter-spacing: 0.04em;
      @include m.responsive(md) {
        padding: min(0.703125vw, 9px) min(1.09375vw, 14px) min(0.546875vw, 7px)  min(1.328125vw, 17px);
        border-top-right-radius: 16px;
        border-bottom-left-radius: 16px;
        font-size: min(1.25vw, 16px);
      }
    }

    #{$this}__number {
      padding: f.vw(5) f.vw(8);
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
      font-size: f.vw(10, 375);
      letter-spacing: 0.04em;
      @include m.responsive(md) {
        padding: min(0.703125vw, 9px) min(0.9375vw, 12px) min(0.546875vw, 7px) min(1.09375vw, 14px);
        border-top-left-radius: 16px;
        border-bottom-right-radius: 16px;
        font-size: min(1.25vw, 16px);
      }
    }

    #{$this}__body {
      margin-top: f.rem(8);
      font-size: f.vw(15, 375);
      letter-spacing: 0.04em;
      @include m.font(
        $color: v.$COLOR_BROWN
      );
      @include m.responsive(md) {
        margin-top: min(1.484375vw, 19px);
        margin-left: 0;
        text-align: center;
        font-size: min(1.719vw, 22px);
        transition: color .3s ease-in-out;
      }
    }
  }

  &--story {
    @include m.responsive(md) {
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
    }

    #{$this}__point {
      @include m.responsive(md) {
        padding: f.rem(8) f.rem(13) f.rem(8) f.rem(16);
        @include m.font(
          $font-size: 16
        );
      }
    }

    #{$this}__number {
      @include m.responsive(md) {
        padding: f.rem(8) f.rem(13) f.rem(8) f.rem(16);
        @include m.font(
          $font-size: 16
        );
      }
    }

    #{$this}__body {
      padding-right: f.rem(36);
      padding-left: f.rem(36);
      @include m.font(
        $color: v.$COLOR_GREEN,
        $font-size: 24,
        $line-height: 32,
        $letter-spacing: 40
      );
      @include m.responsive(md) {
        margin-top: f.rem(10);
        margin-left: 0;
        padding: 0;
        font-family:
          "游ゴシック体",
          YuGothic,
          "游ゴシック Medium",
          "Yu Gothic Medium",
          "游ゴシック",
          "Yu Gothic",
          sans-serif;
        font-weight: 600;
        @include m.font(
          $font-size: 32
        );
      }
    }
  }

  &--introduction {
    #{$this}__point {
      @include m.responsive(md) {
        padding: f.rem(8) f.rem(13) f.rem(8) f.rem(16);
        @include m.font(
          $font-size: 16
        );
      }
    }

    #{$this}__number {
      @include m.responsive(md) {
        padding: f.rem(8) f.rem(13) f.rem(8) f.rem(16);
        @include m.font(
          $font-size: 16
        );
      }
    }

    #{$this}__body {
      @include m.font(
        $color: v.$COLOR_GREEN,
        $font-size: 24,
        $line-height: 29,
        $letter-spacing: 40
      );
      @include m.responsive(md) {
        margin-top: 0;
        margin-left: f.rem(16);
        text-align: left;
        @include m.font(
          $font-size: 24
        );
      }
    }
  }
}