@use "../../foundation/function" as f;
@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;
@use 'sass:math';

.c-text-1 {
    font-weight: 400;
    font-size: 16px;
    // line-height: 24px;
    line-height: math.div(27,16);
    letter-spacing: 0.06em;

    @include m.responsive(xl) {
        font-size: 18px;
    }

    .c-hdg1 + & {
        margin-top: 24px;
    }

    & + & {
        margin-top: 24px;
    }
}

.c-text-2 {
    font-weight: 400;
    font-size: 16px;
    // line-height: 24px;
    line-height: math.div(27,16);
    letter-spacing: 0.06em;

    .c-hdg1 + & {
        margin-top: 24px;
    }
}

.c-text-list {
    font-weight: 400;
    font-size: 18px;
    line-height: math.div(27,16);
    letter-spacing: 0.06em;

    .c-hdg1 + & {
        margin-top: 24px;
    }
    li {

        padding-left: 1em;
        text-indent: 0em;
        position: relative;
        &::after {
            position: absolute;
            display: block;
            content: "";
            background-color: v.$COLOR_TEAL;
            width: 4px;
            height: 4px;
            top: .7em;
            // bottom: 0;
            left: 0;
            margin: auto;

        }

        & + & {
            margin-top: 0;
        }
    }
}