<header class="l-header">
  <div class="l-header__block">
    <a href="{{ site.root }}" class="l-header__brand">Jackie Yeung</a>
    <div class="l-header__nav">
      {% if bodyModifier === "home" %}
      <a href="/#about" class="l-header__link l-header__link--active">About</a>
      {% else %}
      <a href="{{ site.root }}/#about" class="l-header__link l-header__link--active">About</a>
      {% endif %}
      <a href="/work/" class="l-header__link ">Work</a>
      <a href="/blog/" class="l-header__link">Blog</a>
    </div>
  </div>
</header>