{# <div class="loading">
  <div class="loading__logo">
    <picture>
      <source srcset="{{ site.root }}assets/images/logo.webp" type="image/webp">
      <img src="{{ site.root }}assets/images/logo.png" width="392" height="450" alt="Green Meat 健康と地球とずっと。">
    </picture>
  </div>
</div><!-- .loading --> #}