<div class="">
  <div id="modal1" class="modal hidden">
    <button class="btn-close">&times;</button>
    <div class="modal-inner">
    <div class="modal-wrapper">
      <div class="work__thumb">
        <img src="{{ site.root }}assets/images/thumb01.png" alt="">
      </div>
      <h3 class="work__hdg c-hdg2">AMPHI 2022 Site Renewal</h3>
      <div class="modal-content">
        <div class="work__details1">            
          <h4 class="work__hdg2">Tech</h4>
          <ul class="work__dtl-list">
            <li class="work__list-item">HTML/Nunjucks</li>
            <li class="work__list-item">SCSS</li>
            <li class="work__list-item">JavaScript</li>
            <li class="work__list-item">GSAP</li>
            <li class="work__list-item">Gulp</li>
            <li class="work__list-item">Git</li>
            <li class="work__list-item">PowerCMS</li>
          </ul>
          <h4 class="work__hdg2">Year</h4>
          <ul class="work__dtl-list">
            <li class="work__list-item">2022</li>
          </ul>
          <h4 class="work__hdg2">Type</h4>
          <ul class="work__dtl-list">
            <li class="work__list-item">Branding</li>
          </ul>
          <h4 class="work__hdg2">Responsibilities</h4>
          <ul class="work__dtl-list">
            <li class="work__list-item">Main Developer, Maintenance</li>
          </ul>

        </div>
        <div class="work__details2">
          <div class="work__description">
            <p class="work__desc c-text-2">Amphi is a brand concept store owned by Wacoal, a major lingerie company in Japan. This is one of my most major responsibilities in my role at Evoworx. I was involved in both ongoing maintenance as well as being responsible as the main coder for a full site renewal.</p>
            <p class="work__desc c-text-2">I coded the website from translating the code from design to creating reusable components in the collection pages such as the product slider, mostly using HTML with nunjucks/Sass/JavaScript and some GSAP. I did incorporate the use of swiper, and micromodal for some of the functionality, which is then customised to match the design and customer's needs.</p>
            <p class="work__desc c-text-2">The website is statically generated first, then uploaded onto our client managed CMS, PowerCMS (similar to Movable Type, or MT - another CMS), including heavy use of JSON and nunjucks templating to generate and manage product data throughout the site. Uploading the site to PowerCMS also involved rewriting dynamic components in MT syntax, such as the information bulletin on the bottom of the Home page, so that the client was able to update the information section via the CMS on their own.</p>
            <p class="work__desc c-text-2">The entire coding period was roughly 3 weeks in March 2022, and after completion of the site I became responsible for renewing the product lineups displayed on the site, working with the client to improve site traffic, and creating new landing pages for the site each month. Another of Wacoal's brand sites “BRAGENIC” was discontinued in October 2022 due to the increase of traffic and success of AMPHI.</p>
          </div>
          <h4 class="work__hdg2">Live Site:</h4>
          <ul class="work__dtl-list">
            <li class="work__list-item"><a href="https://www.amphi.jp/">https://www.amphi.jp/</a></li>
          </ul>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div id="modal2" class="modal hidden">
    <button class="btn-close">&times;</button>
    <div class="modal-inner">
    <div class="modal-wrapper">
      <div class="work__thumb">
        <img src="{{ site.root }}assets/images/thumb03.png" alt="">
      </div>
      <h3 class="work__hdg c-hdg2">iTSCOM Sonic vs Knuckles the Movie Collaboration Campaign Site</h3>
      <div class="modal-content">
        <div class="work__details1">            
          <h4 class="work__hdg2">Tech</h4>
          <ul class="work__dtl-list">
            <li class="work__list-item">HTML</li>
            <li class="work__list-item">SCSS</li>
            <li class="work__list-item">JavaScript</li>
            <li class="work__list-item">GSAP</li>
            <li class="work__list-item">Gulp</li>
            <li class="work__list-item">Git</li>
            <li class="work__list-item">Adobe Photoshop</li>
          </ul>
          <h4 class="work__hdg2">Year</h4>
          <ul class="work__dtl-list">
            <li class="work__list-item">2022</li>
          </ul>
          <h4 class="work__hdg2">Type</h4>
          <ul class="work__dtl-list">
            <li class="work__list-item">Campaign</li>
          </ul>
          <h4 class="work__hdg2">Responsibilities</h4>
          <ul class="work__dtl-list">
            <li class="work__list-item">Main Developer, Implementation of Phases of Campaign</li>
          </ul>
        </div>
        <div class="work__details2">
          <div class="work__description">
            <p class="work__desc c-text-2">iTSCOM is a cable TV/internet provider company owned by Tokyu Group.</p>
            <p class="work__desc c-text-2">I built a campaign page which provided “how to enter” and prize details to win a range of Sonic vs Knuckles themed prizes. This was built using my main frontend stack, HTML with nunjucks, Sass, JavaScript and GSAP for the animations. My role included many landing pages or campaign pages like this, often with a short deadline of 1-2 weeks, working closely with the designer to closely reproduce Figma or Photoshop design, and prioritising making it responsive and cross-browser compatible.</p>
          </div>
          <h4 class="work__hdg2">Live Site:</h4>
          <ul class="work__dtl-list">
            <li class="work__list-item"><a href="https://www.itscom.co.jp/cp/2022/itscomsonic.html">https://www.itscom.co.jp/cp/2022/itscomsonic.html</a></li>
          </ul>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div id="modal3" class="modal hidden">
    <button class="btn-close">&times;</button>
    <div class="modal-inner">
      <div class="modal-wrapper">
        <div class="work__thumb">
          <img src="{{ site.root }}assets/images/thumb02.png" alt="">
        </div>
        <h3 class="work__hdg c-hdg2">Connection Lab</h3>
        <div class="modal-content">
          <div class="work__details1">            
            <h4 class="work__hdg2">Tech</h4>
            <ul class="work__dtl-list">
              <li class="work__list-item">HTML</li>
              <li class="work__list-item">SCSS</li>
              <li class="work__list-item">JavaScript</li>
              <li class="work__list-item">Gulp</li>
              <li class="work__list-item">Git</li>
              <li class="work__list-item">YouTube API</li>
            </ul>
            <h4 class="work__hdg2">Year</h4>
            <ul class="work__dtl-list">
              <li class="work__list-item">2020</li>
            </ul>
            <h4 class="work__hdg2">Type</h4>
            <ul class="work__dtl-list">
              <li class="work__list-item">Branding</li>
            </ul>
            <h4 class="work__hdg2">Responsibilities</h4>
            <ul class="work__dtl-list">
              <li class="work__list-item">Main Developer</li>
            </ul>
          </div>
          <div class="work__details2">
            <div class="work__description">
              <p class="work__desc c-text-2">Connection Lab is brand site for a creative team made from members across different disciplines including video creators and graphic designers.</p>
              <p class="work__desc c-text-2">This is the first multi-page website I was in charge of as the sole coder, in late 2020. In this project, I focused on making reusable components to allow for ease of coding and updating when new projects were added to the case study lineup. The use of liquid layout (or use of vw) retains the clean-cut layout across different browser sizes.</p>
            </div>
            <h4 class="work__hdg2">Live Site:</h4>
            <ul class="work__dtl-list">
              <li class="work__list-item"><a href="https://www.sendenkaigi.com/brain-connection_lab/">https://www.sendenkaigi.com/brain-connection_lab/</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="modal4" class="modal hidden">
    <button class="btn-close">&times;</button>
    <div class="modal-inner">
      <div class="modal-wrapper">
        <div class="work__thumb">
          <img src="{{ site.root }}assets/images/thumb04.png" alt="">
        </div>
        <h3 class="work__hdg c-hdg2">Workstyling</h3>
        <div class="modal-content">
          <div class="work__details1">            
            <h4 class="work__hdg2">Tech</h4>
            <ul class="work__dtl-list">
              <li class="work__list-item">HTML</li>
              <li class="work__list-item">SCSS</li>
              <li class="work__list-item">JavaScript</li>
              <li class="work__list-item">Gulp</li>
              <li class="work__list-item">Git</li>
              <li class="work__list-item">WordPress/PHP</li>
            </ul>
            <h4 class="work__hdg2">Contribution Year</h4>
            <ul class="work__dtl-list">
              <li class="work__list-item">2020-2022</li>
            </ul>
            <h4 class="work__hdg2">Type</h4>
            <ul class="work__dtl-list">
              <li class="work__list-item">Corporate, Landing Pages</li>
            </ul>
            <h4 class="work__hdg2">Responsibilities</h4>
            <ul class="work__dtl-list">
              <li class="work__list-item">Maintenance, Creation of Landing Pages</li>
            </ul>
          </div>
          <div class="work__details2">
            <div class="work__description">
              <p class="work__desc c-text-2">Workstyling is a Share Office product of Mitsui Fudosan, a major realty company in Japan.</p>
              <p class="work__desc c-text-2">I was responsible for regular updates between 2021-2022, adding new features, and maintenance across the website. The website is on Wordpress, and maintenance involved PHP, Scss and JavaScript development as well as managing pages with the CMS.</p>
              <p class="work__desc c-text-2">In addition, I also was involved in the addition of new landing pages, including a special page "Sustainable Workstyle Lab".</p>
            </div>
            <h4 class="work__hdg2">Live Site:</h4>
            <ul class="work__dtl-list">
              <li class="work__list-item"><a href="https://mf.workstyling.jp/">https://mf.workstyling.jp/</a></li>
              <li class="work__list-item"><a href="https://mf.workstyling.jp/sustainable-workstyle-lab/">https://mf.workstyling.jp/sustainable-workstyle-lab/</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="modal6" class="modal hidden">
    <button class="btn-close">&times;</button>
    <div class="modal-inner">
      <div class="modal-wrapper">
        <div class="work__thumb">
          <img src="{{ site.root }}assets/images/thumb06.png" alt="">
        </div>
        <h3 class="work__hdg c-hdg2">Graduation Project:<br>Student Evaluation System</h3>
        <div class="modal-content">
          <div class="work__details1">            
            <h4 class="work__hdg2">Tech</h4>
            <ul class="work__dtl-list">
              <li class="work__list-item">HTML</li>
              <li class="work__list-item">CSS</li>
              <li class="work__list-item">JavaScript</li>
              <li class="work__list-item">Vue</li>
              <li class="work__list-item">Firebase</li>
              <li class="work__list-item">Pixi.js</li>
              <li class="work__list-item">JSON</li>
              <li class="work__list-item">Webpack</li>
              <li class="work__list-item">Git</li>
            </ul>
            <h4 class="work__hdg2">Year</h4>
            <ul class="work__dtl-list">
              <li class="work__list-item">2019-2020</li>
            </ul>
            <h4 class="work__hdg2">Type</h4>
            <ul class="work__dtl-list">
              <li class="work__list-item">Student Graduation Project</li>
              <li class="work__list-item">App</li>
            </ul>
            <h4 class="work__hdg2">Responsibilities</h4>
            <ul class="work__dtl-list">
              <li class="work__list-item">Front-end, Data Management</li>
            </ul>
          </div>
          <div class="work__details2">
            <div class="work__description">
              <p class="work__desc c-text-2">Collaborating with a designer and another developer, I created a gamified survey and feedback system for the department exhibition.</p>
              <p class="work__desc c-text-2">The system consists of 2 apps - a mobile SPA app for guests to enter feedback about students' works they viewed, paired with a display app to display feedback in real-time to boost morale during the exhibition and showcase achievements.</p>
              <p class="work__desc c-text-2">The mobile app, built on Vue, has a view for reviewers to place feedback, and a view for students to keep track of the reviews they have received.</p>
              <p class="work__desc c-text-2">Feedback was stored on Firebase and displayed on the display app in a 'leaderboard' which ranks students on 4 different skill criteria - ideas/planning, design, coding, presentational skills. The display app also enabled users to discover more about the students and their peers.</p>
              <p class="work__desc c-text-2">The project received high praise from visitors and students, ultimately winning the top award at the exhibition.</p>
            </div>
            <h4 class="work__hdg2">Git Repositories:</h4>
            <ul class="work__dtl-list">
              <li class="work__list-item"><a href="https://github.com/hyzuru/display_system">https://github.com/hyzuru/display_system</a></li>
              <li class="work__list-item"><a href="https://github.com/hyzuru/evaluation_system">https://github.com/hyzuru/evaluation_system</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="modal5" class="modal hidden">
    <button class="btn-close">&times;</button>
    <div class="modal-inner">
      <div class="modal-wrapper">
        <div class="work__thumb">
          <img src="{{ site.root }}assets/images/thumb05.png" alt="">
        </div>
        <h3 class="work__hdg c-hdg2">Scohia Pharma</h3>
        <div class="modal-content">
          <div class="work__details1">            
            <h4 class="work__hdg2">Tech</h4>
            <ul class="work__dtl-list">
              <li class="work__list-item">HTML</li>
              <li class="work__list-item">SCSS</li>
              <li class="work__list-item">JavaScript</li>
              <li class="work__list-item">Gulp</li>
              <li class="work__list-item">Git</li>
              <li class="work__list-item">WordPress</li>
              <li class="work__list-item">MySQL</li>
            </ul>
            <h4 class="work__hdg2">Contribution Year</h4>
            <ul class="work__dtl-list">
              <li class="work__list-item">2020-2022</li>
            </ul>
            <h4 class="work__hdg2">Type</h4>
            <ul class="work__dtl-list">
              <li class="work__list-item">Corporate</li>
            </ul>
            <h4 class="work__hdg2">Responsibilities</h4>
            <ul class="work__dtl-list">
              <li class="work__list-item">Maintenance</li>
            </ul>
          </div>
          <div class="work__details2">
            <div class="work__description">
              <p class="work__desc c-text-2">Scohia Pharma is a well-regarded Pharmaceutical company in Japan.</p>
              <p class="work__desc c-text-2">This is another Wordpress website I was involved with maintenance - mostly modifying pages under the Pipeline category, updating the executive or management team member profiles.</p>
            </div>
            <h4 class="work__hdg2">Live Site:</h4>
            <ul class="work__dtl-list">
              <li class="work__list-item"><a href="https://www.scohia.com/">https://www.scohia.com/</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="overlay hidden"></div>
</div>