---
layout: layout/base.njk
bodyModifier: page-work
---
<div class="work-index">

  <div class="work" >
    <div class="work__head" >
      <h2 class="c-hdg1">Things I've worked on</a></h2>
      <p class="c-text-1">Here's some work I've done previously. While I no longer work at <a href="https://www.evoworx.co.jp/works/" class="c-hdg1__link" target="_blank" rel="noopener noreferrer">Evoworx (in Japanese only)</a>, I've also included a few projects I contributed to during my time there.</p>
      <p class="c-text-1">Also feel free to <a href="https://github.com/hyzuru">check out my GitHub</a> for other things I'm playing around with.</p>
    </div>
      
    <div class="work__list" >
      <div data-modal="modal6" class="work__item btn btn-open">
        <div class="work__label">
          <h3 class="work__hdg c-hdg2">Graduation Project:<br>Student Review System</h3>
        </div>
        <div class="work__thumb">
          <img src="{{ site.root }}assets/images/thumb06.png" alt="">
        </div>

        <div class="work__taglist">
          <span>Student Project</span>
          <span>App</span>
        </div>
      </div>
      {# <div data-modal="modal1" class="work__item btn btn-open">
        <div class="work__label">
          <h3 class="work__hdg c-hdg2">AMPHI 2022 Site Renewal</h3>
        </div>
        <div class="work__thumb">
          <img src="{{ site.root }}assets/images/thumb01.png" alt="">
        </div>
        <div class="work__taglist">
          <span>Work</span>
          <span>Branding</span>
        </div>
      </div>
      <div data-modal="modal2" class="work__item btn btn-open">
        <div class="work__label">
          <h3 class="work__hdg c-hdg2">iTSCOM Sonice vs Knuckles the Movie Collaboration</h3>
        </div>
        <div class="work__thumb">
          <img src="{{ site.root }}assets/images/thumb03.png" alt="">
        </div>

        <div class="work__taglist">
          <span>Work</span>
          <span>Campaign</span>
        </div>

      </div>
      <div data-modal="modal3" class="work__item btn btn-open">
        <div class="work__label">
          <h3 class="work__hdg c-hdg2">Connection Lab</h3>
        </div>
        <div class="work__thumb">
          <img src="{{ site.root }}assets/images/thumb02.png" alt="">
        </div>

        <div class="work__taglist">
          <span>Work</span>
          <span>Campaign</span>
        </div>

      </div>
      <div data-modal="modal4" class="work__item btn btn-open">
        
        <div class="work__label">
          <h3 class="work__hdg c-hdg2">Workstyling</h3>
        </div>
        <div class="work__thumb">
          <img src="{{ site.root }}assets/images/thumb04.png" alt="">
        </div>

        <div class="work__taglist">
          <span>Work</span>
          <span>Campaign</span>
        </div>

      </div>
      <div data-modal="modal5" class="work__item btn btn-open">
        <div class="work__label">
          <h3 class="work__hdg c-hdg2">Scohia Pharma</h3>
        </div>
        <div class="work__thumb">
          <img src="{{ site.root }}assets/images/thumb05.png" alt="">
        </div>

        <div class="work__taglist">
          <span>Work</span>
          <span>Campaign</span>
        </div>
      </div> #}
    </div>

  </div>
</div>
