/**
* Layout
* ========================== */
@use "../foundation/function" as f;
@use "../foundation/mixin" as m;
@use "../foundation/variables" as v;

/* drawer */
.l-drawer {
  $this: &;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 100%;
  padding-top: f.rem(21);
  transition: visibility 1s ease-in-out;
  @include m.responsive(xl) {
    position: static;
    width: auto;
    height: 100%;
    padding-top: 0;
    background-color: transparent;
  }

  &[aria-expanded="true"] {
    visibility: visible;
    transition-duration: 0s;
    #{$this}__backdrop {
      opacity: 1;
      transform: translate(-50%, -50%) scale(100);
    }
    #{$this}__contents {
      opacity: 1;
      transition-delay: .6s;
    }
  }

  &[aria-expanded="false"] {
    visibility: hidden;
    @include m.responsive(xl) {
      visibility: visible;
    }
    #{$this}__backdrop {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0);
    }
    #{$this}__contents {
      opacity: 0;
      transition-delay: 0s;
      @include m.responsive(xl) {
        opacity: 1;
        height: 100%;
      }
    }
  }

  &__inner {
    padding-right: f.rem(18);
    padding-left: f.rem(18);
    @include m.responsive(xl) {
      height: 100%;
      padding-right: 0;
      padding-left: 0;
    }
  }

  &__contents {
    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
  }

  &__block {
    @include m.flex(
      $justify-content: space-between
    );
  }

  &__logo {
    width: f.rem(160);
    @include m.responsive(xl) {
      display: none;
    }
  }

  &__button {
    z-index: 1;
    width: f.rem(48);
    height: f.rem(45);
    margin-top: f.rem(-3);
    @include m.responsive(xl) {
      display: none;
    }
  }

  &__container {
    width: 100%;
    height: 100%;
    margin-top: f.rem(40);
    padding-left: f.rem(26);
    overflow: auto;
    @include m.responsive(xl) {
      margin-top: 0;
      overflow: visible;
      @include m.flex(
        $justify-content: flex-end,
        $align-items: center
      );
    }
  }

  &__list {
    @include m.responsive(xl) {
      @include m.flex();
    }
  }

  &__item {
    &:not(:first-of-type) {
      margin-top: f.rem(11);
      @include m.responsive(xl) {
        margin-top: 0;
        margin-left: f.rem(12);
      }
    }
  }

  &__link {
    display: inline-block;
    padding: f.rem(8);
    font-weight: 600;
    white-space: nowrap;
    transition: color .3s ease-in-out;
    @include m.font(
      $color: v.$COLOR_WHITE,
      $font-size: 17,
      $letter-spacing: 40
    );
    @include m.responsive(xl) {
      margin-left: 0;
      padding: f.rem(8);
      color: inherit;
      font-size: f.rem(15);
    }

    &[lang="en"] {
      font-family: 'Heebo', sans-serif;
      font-weight: 500;
      @include m.font(
        $font-size: 18,
        $letter-spacing: 80
      );
      @include m.responsive(xl) {
        font-size: f.rem(16);
      }
    }

    &::before {
      content: '';
      display: inline-block;
      transform: translate(-8px, -50%);
      width: f.rem(6);
      height: f.rem(6);
      background-color: v.$COLOR_WHITE;
      border-radius: 50%;
      transition: background-color .3s ease-out;
      @include m.responsive(xl) {
        content: none;
      }
    }

    @include m.hover() {
      color: v.$COLOR_YELLOW;
      @include m.responsive(xl) {
        color: v.$COLOR_GREEN;
      }

      &::before {
        background-color: currentColor;
      }
    }
  }

  &__corporation {
    margin-top: f.rem(21);
    @include m.responsive(xl) {
      margin-top: 0;
      margin-right: f.rem(34);
      margin-left: f.rem(28);
    }

    a {
      display: inline-block;
      min-width: 140px;
      padding: f.rem(12);
      border-top-left-radius: 12px;
      border-bottom-right-radius: 12px;
      background-color: v.$COLOR_WHITE;
      text-align: center;
      font-weight: 600;
      white-space: nowrap;
      transition-property: background-color, color;
      transition-duration: .3s;
      transition-timing-function: ease-in-out;
      @include m.font(
        $color: v.$COLOR_GREEN,
        $font-size: 16,
        $letter-spacing: 20
      );
      @include m.responsive(xl) {
        min-width: inherit;
        padding: f.rem(8) f.rem(13);
        background-color: v.$COLOR_GRAY_1;
        font-size: f.rem(12);
        @include m.font(
          $color: v.$COLOR_BROWN
        );
      }
      @include m.hover() {
        background-color: v.$COLOR_YELLOW;
        @include m.responsive(xl) {
          background-color: v.$COLOR_GREEN;
          color: v.$COLOR_WHITE;
        }
      }
    }
  }

  &__sns-list {
    margin-top: f.rem(28);
    @include m.flex();
    @include m.responsive(xl) {
      display: none;
    }
  }

  &__sns-item {
    &:not(:first-of-type) {
      margin-left: f.rem(20);
    }
  }

  &__sns-link {
    svg {
      width: f.rem(32);
      height: f.rem(32);
    }

    path,
    ellipse {
      transition: fill .3s ease-out;
    }

    @include m.hover() {
      path, ellipse {
        fill: v.$COLOR_YELLOW
      }
    }
  }

  &__menu {
    margin-top: f.rem(52);
    padding-right: f.rem(8);
    @include m.flex(
      $justify-content: flex-end,
      $align-items: center
    );
    @include m.responsive(xl) {
      flex-direction: row;
      margin-top: 0;
      padding-right: 0;
    }
  }

  &__logout {
    margin-top: f.rem(-13);
    margin-right: f.rem(24);
    text-decoration: underline;
    text-underline-offset: 4px;
    transition: color .3s ease-out;
    @include m.font(
      $color: v.$COLOR_WHITE,
      $font-size: 13,
      $letter-spacing: 40
    );
    @include m.responsive(xl) {
      margin-top: f.rem(-4);
      margin-right: f.rem(20);
      text-underline-offset: 3px;
      @include m.font(
        $color: v.$COLOR_BROWN,
        $font-size: 11
      );
    }

    @include m.hover() {
      @include m.font(
        $color: v.$COLOR_BROWN
      );
      @include m.responsive(xl) {
        @include m.font(
          $color: v.$COLOR_GREEN
        );
      }
    }
  }

  &__icon {
    &--account {
      #{$this}__icon-link {
        background-color: v.$COLOR_BROWN;

        &::before {
          background-color: v.$COLOR_YELLOW;
          @include m.responsive(xl) {
            background-color: v.$COLOR_GREEN;
          }
        }
      }

      #{$this}__icon-body {
        svg {
          position: relative;
          width: f.rem(19);
          height: f.rem(24);
          margin-top: f.rem(-1);
          @include m.responsive(xl) {
            position: relative;
            width: f.rem(16);
            height: f.rem(20);
          }
        }
      }
    }

    &--cart {
      #{$this}__icon-link {
        background-color: v.$COLOR_YELLOW;
        @include m.responsive(xl) {
          background-color: v.$COLOR_GREEN;
        }

        &::before {
          background-color: v.$COLOR_BROWN;
        }
      }

      #{$this}__icon-body {
        svg {
          position: relative;
          width: f.rem(24);
          height: f.rem(23);
          margin-top: f.rem(-1);
          @include m.responsive(xl) {
            position: relative;
            width: f.rem(20);
            height: f.rem(19);
          }
        }

        g {
          @include m.responsive(xl) {
            stroke: v.$COLOR_WHITE;
          }
        }
      }

      &.is-in {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: -6px;
          right: 0;
          z-index: 1;
          width: f.rem(18);
          height: f.rem(18);
          border-radius: 50%;
          background-color: v.$COLOR_RED;
          @include m.responsive(xl) {
            top: 0;
            right: 0;
            width: f.rem(15);
            height: f.rem(15);
          }
        }
      }
    }
  }

  &__icon + &__icon {
    margin-left: f.rem(12);
    @include m.responsive(xl) {
      margin-left: f.rem(8);
    }
  }

  &__icon-head {
    width: f.rem(64);
    height: f.rem(20);
    @include m.responsive(xl) {
      display: none;
    }
  }

  &__icon-body {
    margin-top: f.rem(-7);
    @include m.responsive(xl) {
      margin-top: 0;
    }
  }

  &__icon-link {
    position: relative;
    width: f.rem(60);
    height: f.rem(60);
    border-radius: 50%;
    @include m.flex(
      $justify-content: center,
      $align-items: center
    );
    @include m.responsive(xl) {
      width: f.rem(50);
      height: f.rem(50);
    }
    &::before {
      content: "";
      display: block;
      padding-top: 100%;
      pointer-events: none;
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      border-radius: 100%;
      transform-origin: center center;
      transition: transform .3s ease-in-out;
    }
    @include m.hover() {
      &::before {
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }

  &__shape {
    position: absolute;
    will-change: transform;
    @include m.responsive(xl) {
      display: none;
    }

    img {
      width: 100%;
    }

    &--01 {
      top: -48px;
      right: -17px;
      width: f.rem(150);
      height: f.rem(141.5);
    }

    &--02 {
      top: 53px;
      right: 84px;
      width: f.rem(58);
      height: f.rem(58);

      circle {
        stroke-width: 4px;
      }
    }

    &--03 {
      bottom: -19px;
      left: 77px;
      width: f.rem(60);
      height: f.rem(55);
    }

    &--04 {
      bottom: -38px;
      left: -43px;
      width: f.rem(152);
      height: f.rem(139.5);

      path {
        stroke-width: 4px;
      }
    }
  }

  &__backdrop {
    position: absolute;
    top: 46px;
    right: -7px;
    z-index: -1;
    width: f.rem(60);
    height: f.rem(60);
    border-radius: 50%;
    background-color: v.$COLOR_GREEN;
    transition: opacity .3s ease-in-out, transform 1s ease-in-out;
  }
}