@use "../foundation/function" as f;
@use "../foundation/mixin" as m;
@use "../foundation/variables" as v;

/**
 * Layout
 * ========================== */

/* footer */
.l-footer {
  padding-top: f.rem(56);
  padding-bottom: f.rem(20);
  background-color: v.$COLOR_BLACK;
  height: 100vh;
  position: relative;
  @include m.responsive(md) {
    padding-top: f.rem(64);
    padding-bottom: f.rem(20);
  }

  // .l-footer__bg
  &__bg {
    background: linear-gradient(to bottom, transparent 0%, rgba(v.$COLOR_SAND, .4) 100%);
    background: v.$COLOR_SAND, .4;
    position: absolute;
    height: 200%;
    width: 100%;
    top: -100%;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    
    // display: none;
  }
  // .l-footer__inner
  &__inner {
    @include m.inner;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    
  }

  // .l-footer__contact
  &__contact {
    width: 400px;
    padding-top: 160px;
    padding-bottom: 160px;
  }
  // .l-footer__text
  &__text {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 48px;
    line-height: 58px;
    font-weight: 200;
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 48px;
    margin-top: 80px;
  }
  &__item {
    // width: 44px;
    display: block;
    opacity: 0.6;
    transition: opacity .3s ease;
    svg {
      width: 100%;
    }
    @media (hover) {
      &:hover {
        opacity: 1;
      }
    }
  }
  


  &__copy {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  // .l-footer__copytext
  &__copytext {
    text-align: center;
    font-size: 14px;
    line-height: 2;
    font-weight: 400;
  }
}
