@use "../../foundation/function" as f;
@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;
@use "sass:color";
@use "sass:math";

.about {
  padding-top: 100px;

  @include m.responsive(md) {
    max-width: 1200px;
    padding-top: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    // height: 100vh;
    justify-content: flex-start;
    position: relative;
    align-items: flex-start;
  }

  // .about__block 
  &__block {
    position: relative;
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    @include m.responsive(md) {
      margin: 0 50px 0 100px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: repeat(3, 1fr);
      display: grid;
      grid-gap: 0 2em;
    }
    @include m.responsive(xl) {
      width: 100%;
      max-width: 1000px;
    }

  }

  // .about__section == .js-section
  &__section {
    position: relative;
    margin-top: 80px;

    &:first-of-type {
      margin-top: 0;

      @include m.responsive(md) {
        padding-top: 200px;
      }
    }

    @include m.responsive(md) {
      grid-column: span 2;
      padding-bottom: 20px;
    }
  }

  // .about__img 
  &__img {
    @include m.responsive(md) {
      display: flex;
      align-items: center;
    }

    // .about__img--left
    &--left {
      @media screen and (max-width:48em) {
        order: 1;
        margin-top: 40px;
      }
    }
  }

  // .js-section {
  //     position: relative;
  //     @include m.responsive(md) {
  //         opacity: 0;
  //         min-height: 100vh;
  //         position: absolute;
  //         margin-top: 0;
  //     }
  // }


  // .about__divider
  &__divider {
    width: 100%;
    height: 350px;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }
  }
}
