@use "../../foundation/function" as f;
@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;
@use "sass:color";
@use "sass:math";


@keyframes scrollLine {
    0% {
        transform: translateX(-100%);
    }
    4% {
        transform: translateX(-100%);
    }
    74% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(100%);
    }
}


.top {
    @include m.responsive(xl) {
        padding-bottom: 200px;
    }
}


.bg {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
    background-color: v.$COLOR_TEAL;
    opacity: 0;
    pointer-events: none;

}
.hover-text-note {
    position: relative;
    &:hover {
        &::after {
            content: "";
            display: block;
            font-size: inherit;
            line-height: inherit;
            color: v.$COLOR_SAND;
            position: absolute;
            bottom: -28px;
            // left: 0;
            right: 0;
            margin: auto;
            text-decoration: none;
            font-family: 'Patrick Hand SC', cursive;
        }
        &.link-evoworx {
            &::after {
                content: "Site only in Japanese!";
            }
        }
    }
}
.plans-ruined-from-covid {
    text-decoration: line-through;
    color: v.$COLOR_TEAL;
    position: relative;

    &:hover {
        &::after {
            content: "mostly on-hold, thanks to covid :(";
            display: block;
            font-size: inherit;
            line-height: inherit;
            color: v.$COLOR_SAND;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            margin: auto;
            text-decoration: none;
            font-family: 'Patrick Hand SC', cursive;
        }
    }
}

.mv {
    // @include m.inner;
    margin: 0 0 0 400px;
    margin: 0;
    
    padding-top: 40vh;
    padding-bottom: 15%;
    
    padding-right: 28px;
    display: flex;
    justify-content: flex-start;
    // justify-content: space-between;
    align-items: center;
    align-items: flex-end;
    position: relative;
    // flex-direction: row-reverse;
    overflow: hidden;

    @include m.responsive(xl) {
        height: calc(100vh - 110px);
        height: 100vh;
        // padding-top: 110px;
        padding-bottom: 20vh;


    }

    // .mv__inner
    &__inner {

        border-left: 1px solid v.$COLOR_TEAL;
        padding: 15px 25px 15px 15px;
        margin: 25px 0 25px 25px;

        @include m.responsive(xl) {
            padding: 20px 0 20px 90px;
            margin: 110px 0 40px 110px;
            align-self: flex-start;
            margin-right: auto;
        }


    }

    .mv-decoration-container {
        width: 100vw;
        position: absolute;
        // position: relative;
        margin-top: auto;
        // bottom: 0;
        // top: 40%;
        width: 350%;
        height: 100%;
        flex: 0 0 auto;
        bottom: 0;
        // align-self: flex-start;
        opacity: 0.2;
        left: -25%;

        z-index: -1;

        @include m.responsive(xl) {
            width: 68%;
            opacity: 0.1;
            top: 0;
            left: auto;
            right: 0;

            display: flex;
            align-items: flex-end;

        }
    }
    

    .mv-decoration {
        position: absolute;
        text-transform: uppercase;
        line-height: 0.73;
        line-height: 0.8;
        font-size: 122px;
        font-size: f.vw(70,375);
        letter-spacing: 0.04em;
        // text-align: right;
        margin-left: auto;
        // top: 0;
        bottom: 0;
        left: 12%;
        
        background: linear-gradient(90deg, rgba(#fff, 0.6) 2.56%, rgba(v.$COLOR_TEAL, .6) 120%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

        word-break: break-all;
        font-weight: 200;

        @include m.responsive(xl) {
            position: relative;
            right: -50px;
            left: auto;
            top: auto;
            bottom: auto;
            font-size: f.vw(110,1280);
        }

        span {
            font-weight: 700;
            letter-spacing: 0.08em;
            &.dot {
                font-size: 1.3em;
                line-height: calc(144*0.73/1.3)*1px;
            }            
        }

    }

    &__ttl {
        text-transform: uppercase;
        font-size: 28px;
        line-height: math.div(30,20);
        letter-spacing: 0.2em;
        font-weight: 500;
        // color: darken(v.$COLOR_TEAL, 25%);
        @include m.responsive(xl) {
            font-size: 20px;
            line-height: 30px;
        }
    }
    &__copy {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.24em;
        margin-top: 24px;
        font-weight: 400;
        line-height: math.div(36,24);

        @include m.responsive(xl) {
            font-size: 24px;
            line-height: 36px;
        }
    }
    &__links {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 36px;
        margin-top: 24px;
        @include m.responsive(xl) {
            gap: 48px;
            margin-top: 40px;
        }
    }
    &__item {
        display: block;
        width: 40px;
        @include m.responsive(xl) {
            width: auto;
        }
        svg {
            width: 100%;
            * {
                transition: fill .3s ease;
            }
        }
        @media (hover) {
          &:hover {
            svg * {
                fill: v.$COLOR_TEAL;
            }
          }
        }
    }


    &__scroll {
        position: absolute;
        top: 50%;
        right: 0;
        transform: rotate(90deg) translate(50%);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        transform-origin: top right;

        top: 85%;
        right: 24px;
        // position: fixed;
        @include m.responsive(xl) {
            top: 80%;
        }
    }
    &__scroll-text {
        display: block;
        color: v.$COLOR_GREY_1;
        font-weight: 500;
        font-size: 14px;
        line-height: 28px;
    }

    
    &__scroll-line {
        display: block;
        margin-left: 20px;
        width: 80px;
        height: 1px;
        background-color: transparent;
        position: relative;
        overflow: hidden;
        
        &::after {
            content: "";
            display: block;
            background-color: v.$COLOR_GREY_1;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            animation: scrollLine 2s ease infinite;

        }

    }

    // .mv__imgbox
    &__imgbox {
        height: 100vh;
        width: 50vw;
        position: absolute;
        top: 0;
        right: 0;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
        }

    }
        
}

.about {
    
    padding-top: 100px;
    
    @include m.responsive(xl) {
        padding-top: 200px;
        display: flex;
        flex-direction: row;
        height: 100vh;
        justify-content: flex-start;
        position: relative;
        align-items: flex-start;

    }

    // .about__section == .js-section
    &__section {
        position: relative;
        margin-top: 120px;
        @include m.responsive(xl) {
            opacity: 0;
            min-height: 100vh;
            position: absolute;
            margin-top: 0;
        }
    }
    // .js-section {
    //     position: relative;
    //     @include m.responsive(xl) {
    //         opacity: 0;
    //         min-height: 100vh;
    //         position: absolute;
    //         margin-top: 0;
    //     }
    // }
    
    &__block {
        position: relative;
        
        margin: 0 25px;
        @include m.responsive(xl) {
            margin: 0 100px;
            width: 660px;
        }

    }

    // .about__divider
    &__divider {
        width: 100%;
        height: 350px;
        overflow: hidden;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
        }
    }
}

.blog {
    
    margin: 80px 0 0;
    padding-top: 40px;
    // @include m.inner;
    // margin: 220px+80px 100px 0;
    @include m.responsive(xl) {
        margin: -500px 100px 0;
        margin: 200px 100px 0;
        width: 1120px;

    }


    &__head {
        margin: 0 25px;
        @include m.responsive(xl) {
            width: 980px;
            margin: 0;
        }
    }

    // .blog__list
    &__list {
        margin-top: 44px;
        @include m.responsive(xl) {
            margin-top: 100px;
        }
    }
    // .blog__item
    &__item {
        border-bottom: 1px solid v.$COLOR_TEAL;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        transition: all .3s ease;
        border-top: 1px solid transparent;
        margin-bottom: -1px;
        @include m.responsive(xl) {
            border-bottom: 1px solid v.$COLOR_GREY_1;
        }
        &:first-child {
            border-top: 1px solid v.$COLOR_TEAL;
            @include m.responsive(xl) {
                border-top: 1px solid v.$COLOR_GREY_1;
            }
        }

        @include m.responsive(xl) {
            &:hover {
                border-color: v.$COLOR_TEAL;
                border: 1px solid v.$COLOR_TEAL;
                box-shadow: 12px 12px 30px 1px rgba(v.$COLOR_TEAL, .8);
                box-shadow: 0 0 70px 5px rgba(v.$COLOR_TEAL, .6);
                .blog__thumb {
                    img {
                        filter: grayscale(0);
                    //     transform: scale(1.05);
                    }
                }
            }
        }
        a {
            
            
            display: flex;
            padding: 44px 25px;
            @include m.responsive(xl) {
                padding: 44px 40px;
            }
        }
    }

    // .blog__date
    &__date {
        border-right: 1px solid v.$COLOR_TEAL;
        height: auto;
        display: flex;
        flex-direction: column;
        width: 70px;
        padding-right: 18px;
        @include m.responsive(xl) {
            padding-right: 20px;
        }
        
        > span {
            display: block;
            color:  v.$COLOR_TEAL;
            font-size: 18px;
            line-height: 36px;
            letter-spacing: .06em;
            width: min-contents;
            text-align: right;
            text-transform: uppercase;

            & + span {
                margin-top: 6px;
                @include m.responsive(xl) {
                    margin-top: 12px;
                }
            }
        }
    }

    &__item-outer {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 4px;
        margin-bottom: 4px;
        @include m.responsive(xl) {
            display: flex;
            margin-left: 0;
            margin-right: 0;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    &__item-inner {
        @include m.responsive(xl) {
            margin-left: 80px;
            margin-right: 80px;
        }
    }


    // .blog__tags 
    &__tags {
        color:  v.$COLOR_TEAL;
        font-size: 10px;
        line-height: 12px;
        border-bottom: 1px solid v.$COLOR_TEAL;
        padding-bottom: 1px;
        
        & + & {
            margin-left: 12px;
        }
    }

    // .blog__hdg
    &__hdg {
        margin-top: 22px;
        color:  v.$COLOR_WHITE;
        @include m.responsive(xl) {
            margin-top: 16px;
        }
    }
    &__subhdg {
        margin-top: 12px;
        color:  v.$COLOR_GREY_1;
        @include m.responsive(xl) {
            margin-top: 8px;
        }
    }
    &__desc {
        margin-top: 8px;
        letter-spacing: 0.06em;
        color:  v.$COLOR_GREY_1;

        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box !important;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        white-space: normal;

        @include m.responsive(xl) {
            -webkit-line-clamp: 2;
        }
    }

    &__thumb {
        background-color: v.$COLOR_GREY_1;
        
        aspect-ratio: 3/2;
        width: 100%;
        overflow: hidden;
        flex: 0 0 auto;
        position: relative;
        margin-top: 30px;

        @include m.responsive(xl) {
            width: auto;
            height: 180px; 
            margin-top: 0;

        }
        // &::after {
        //     content: "";
        //     display: block;
        //     width: 100%;
        //     height: 100%;
        //     background-color: v.$COLOR_TEAL;
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     opacity: .1;
        //     transition: opacity .3s ease;
            
        // }
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
            @include m.responsive(xl) {
                transition: transform .3s ease;
                filter: grayscale(100%) brightness(103%);
            }
        }
    }
}


.post {
    
    .header {
        margin: 0 0 90px;
        @include m.responsive(xl) {
            margin: 190px math.div(200,1440)*100vw 120px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        // .header__info
        &__info {
            width: 100%;
            max-width: 500px;
            flex: 1;
            text-align: center;
            margin: auto;

            padding: 50px 25px 0;
            @include m.responsive(xl) {
                padding: 0;
            }
        }

        &__tags {
            // text-transform:capitalize;
        }

        // .header__title
        &__title {
            margin-top: 50px;
            text-transform: uppercase;
            @include m.responsive(xl) {
                margin-top: 40px;
            }

        }
        &__subtitle {
            margin-top: 40px;
        }
        
        &__details {
            position: relative;
            padding-top: 40px;
            margin-top: 40px;
            font-size: 18px;

            &::before {
                content: "";
                position: absolute;
                display: block;
                width: 134px;
                height: 1px;
                background-color: v.$COLOR_TEAL;
                left: 0;
                right: 0;
                top: 0;
                margin: auto;
            }
        }
        &__description {
            font-size: 18px;
            line-height: 36px;
            font-weight: 500;

            & + .header__publishdate {
                @include m.responsive(xl) {
                    margin-top: 40px;
                }
            }
        }
        &__publishdate {
            text-transform: uppercase;

        }
        
        // .header__img
        &__img {
            width: 100%;
            aspect-ratio: 1 / 1;
            @include m.responsive(xl) {
                width: 430px;
            }
            img {
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 100%;
            }
            // margin-right: 40px;
        }
    }
    
    main {
        border-top: 1px solid rgba(v.$COLOR_WHITE, 0.5);
        padding-top: 100px;
        // border-bottom: 1px solid rgba(v.$COLOR_WHITE, 0.5);
        // padding-bottom: 100px;
        margin: 0 25px;
        @include m.responsive(xl) {
            margin: 0 math.div(240,1440)*100vw 120px;
        }
    }
    .content {
        // width: 600px;
        width: 100%;
        // margin-left: 0;
        
        border-bottom: 1px solid rgba(v.$COLOR_WHITE, 0.5);
        padding: 0 0 100px;
        
        @include m.responsive(xl) {
            margin-left: 100px;
            width: 600px;
        }

        &::first-letter {
            font-family: "Montserrat", sans-serif;
            font-weight: 200;
            font-size: 64px;
            line-height: 30px;
            letter-spacing: 0em;
            color: v.$COLOR_TEAL;
            padding-left: 0.6em;
            padding-right: 2px;
        }
        p {
            font-size: 16px;
        }
        * + * {
            margin-top: 36px;
        }
        * + hr {
            margin-top: 80px;
        }
        * + h1, * + h2, * + h3  {
            padding-top: 80px;
            margin-top: 0;
        }
        img {
            width: 90%;
            margin: 80px auto;
        }
        // p + p {
        //     margin-top: 36px;
        // }
        blockquote {
            border-left: 3px solid v.$COLOR_TEAL;
            // padding-left: 40px;
            padding: 12px 0 16px 20px;
            margin-left: 0px;
            font-style: italic;
            @include m.responsive(xl) {
                padding: 12px 120px 16px 40px;
            }
        }

        h1, h2 {
            font-size: 24px;
            line-height: 42px;
            font-weight: 500;
            letter-spacing: 0.05em;
        }
        h3 {
            font-size: 20px;
            line-height: 36px;
            font-weight: 500;
            letter-spacing: 0.05em;
        }

        ol, ul {
            li {
                margin-top: 0;
                ol, ul {
                    margin-top: 20px;
                    margin-left: 40px;
                }
            }
        }
        ul {
            li {
                padding-left: 1.5em;
                position: relative;
                &::before {
                    content: "";
                    display: block;
                    width: 6px;
                    height: 6px;
                    background-color: v.$COLOR_TEAL;
                    position: absolute;
                    left: 0;
                    top: 12px;
                }
            }
        }
        ol {
            list-style-type: none;
            counter-reset: elementcounter;
              
            li {
                padding-left: 1.5em;
                position: relative;
                &:before {
                  content: counter(elementcounter) ". ";
                  counter-increment: elementcounter;
                  font-weight: bold;
                  color: v.$COLOR_TEAL;
                  display: block;
                  position: absolute;
                  left: 0;
                  top: 0;
                }
            }
        }

        code {
            padding: 4px;
            font-family: 'Roboto Mono', monospace;

            display: inline;
            font-size: 15px;
            letter-spacing: 0.04em;
        }
        // until i can get contentful <pre> tag rendered
        pre {
            margin: 40px 0px;
            @include m.responsive(xl) {
                margin: 40px -80px;
            }
            code {
                border-radius: 4px;
                padding: 15px 15px;
                
                display: block;
                white-space: pre;
                
                width: calc(760px);
                max-width: 100%;
                margin: 0 auto;
                
                overflow: scroll;

                @include m.responsive(xl) {
                    padding: 20px 80px;
                    width: calc(760px);
                }
            }
        } 
        
    }

    .footer {
        padding-top: 80px;
        padding-bottom: 90px;
        
        margin: 0 25px;
        @include m.responsive(xl) {
            margin: 0 100px;
            padding-top: 80px;
            padding-bottom: 150px;

        }

        &__back {
            font-weight: 400;
            font-size: 24px;
            line-height: 42px;
            a {
                color: v.$COLOR_WHITE;

                &:hover {
                    color: v.$COLOR_TEAL;
                }
            }
            // text-transform: uppercase;
        }

    }
}
