@use "../../foundation/function" as f;
@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;
@use "sass:color";
@use "sass:math";
* {
  box-sizing: border-box;
}
#container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
  top: 0;
  left:0;
  pointer-events: none;
}