@use "sass:math";
@use "../../foundation/function" as f;
@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

/**
 * Object
 * ========================== */

/* Project ------------ */

/* contact */
.contact {
  position: relative;
  padding-top: f.rem(48);
  padding-bottom: f.rem(64);
  background-color: v.$COLOR_GREEN;
  @include m.responsive(md) {
    padding-top: f.rem(76);
    padding-bottom: f.rem(80);
  }

  &__inner {
    padding-right: f.rem(25);
    padding-left: f.rem(25);
    @include m.responsive(md) {
      max-width: f.rem(984);
      box-sizing: content-box;
      margin-right: auto;
      margin-left: auto;
      padding-right: percentage(math.div(40, 1280));
      padding-left: percentage(math.div(40, 1280));
    }
  }

  &__contents {
    position: relative;
    z-index: 1;
  }

  &__heading {
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
    @include m.font(
      $color: v.$COLOR_WHITE,
      $font-size: 34,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      @include m.font(
        $font-size: 48
      );
    }
  }

  &__column {
    margin-top: f.rem(34);
    @include m.responsive(md) {
      margin-top: f.rem(48);
      @include m.flex(
        $justify-content: space-between
      );
    }
  }

  &__block {
    padding: f.rem(40) f.rem(35);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: v.$COLOR_WHITE;
    text-align: center;
    @include m.responsive(md) {
      flex-basis: percentage(math.div(468, 984));
      padding: f.rem(48);
      border-top-left-radius: 40px;
      border-bottom-right-radius: 40px;
    }
    &:not(:first-of-type) {
      margin-top: f.rem(24);
      @include m.responsive(md) {
        margin-top: 0;
      }
    }
  }

  &__head {
    font-weight: 600;
    @include m.font(
      $color: v.$COLOR_GREEN,
      $font-size: 15,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      @include m.font(
        $font-size: 17
      );
    }
  }

  &__button-wrapper {
    margin-top: f.rem(20);
    @include m.responsive(md) {
      margin-top: f.rem(28);
    }
  }

  &__tel {
    margin-top: f.rem(16);
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
    @include m.font(
      $color: v.$COLOR_GREEN,
      $font-size: 32,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      margin-top: f.rem(26);
      @include m.font(
        $font-size: 36
      );
    }
  }

  &__reception {
    margin-top: f.rem(10);
    @include m.font(
      $font-size: 15,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      margin-top: f.rem(8);
      @include m.font(
        $font-size: 16
      );
    }
  }

  &__shape {
    position: absolute;
    top: f.vw(-40, 375);
    left: f.vw(-70, 375);
    width: f.vw(150, 375);
    height: f.vw(141.5, 375);
    will-change: transform;
    @include m.responsive(md) {
      top: f.vw(-140, 1280);
      left: f.vw(-130, 1280);
      width: f.vw(300, 1280);
      height: f.vw(283, 1280);
    }

    img {
      width: 100%;
    }
  }
}