@use "sass:math";
@use "../../foundation/function" as f;
@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

/**
 * Object
 * ========================== */

/* Project ------------ */

/* feature-anchorlink */
.feature-anchorlink {
  &__inner {
    max-width: f.rem(1032);
    margin-right: auto;
    margin-left: auto;
  }

  &__contents {
    position: relative;
    z-index: 1;
  }

  &__list {
    counter-reset: number;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: f.vw(21, 375);
    @include m.responsive(md) {
      grid-template-columns: repeat(4, 1fr);
      gap: 0 f.rem(24);
      justify-items: center;
    }
  }

  &__item {
    width: f.vw(152, 375);
    height: f.vw(152, 375);
    border-radius: 50%;
    background-color: v.$COLOR_BEIGE;
    @include m.responsive(md) {
      width: min(18.75vw, 240px);
      height: min(18.75vw, 240px);
    }
  }

  &__link {
    display: block;
    position: relative;
    height: 100%;
    padding: f.vw(28, 375) f.vw(8, 375);
    text-align: center;
    @include m.responsive(md) {
      padding: min(4.140625vw, 53px) 0;
    }

    @include m.hover() {
      .c-sub-heading__body {
        color: v.$COLOR_GREEN;
      }

      &::after {
        transform: translate(-50%, 4px);
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: f.vw(112, 375);
      left: 50%;
      transform: translateX(-50%);
      width: f.vw(11.5, 375);
      height: f.vw(23, 375);
      background-image: url('#{v.$root}assets/images/icon_arrow_anchorlink.png');
      background-repeat: no-repeat;
      background-size: contain;
      @include m.responsive(md) {
        top: min(14.21875vw, 182px);
        width: min(1.09375vw, 14px);
        height: min(2.734375vw, 35px);
        transition: transform .3s ease-in-out;
      }
    }
  }

  &__reason {
    pointer-events: none;
  }

  &__description {
    margin-top: f.vw(3, 375);
    font-size: f.vw(12);
    line-height: f.lh(15, 12);
    letter-spacing: 0.04em;
    @include m.responsive(md) {
      margin-top: min(0.938vw, 12px);
      font-size: min(1.171875vw, 15px)
    }
  }
}

