@use "../../foundation/function" as f;
@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

/**
 * Object
 * ========================== */

/* Project ------------ */

/* form */
.form {
  &__column {
    @include m.responsive(md) {
      @include m.flex(
        $align-items: flex-start
      );
    }

    &:nth-of-type(2) {
      margin-top: f.rem(32);
      @include m.responsive(md) {
        margin-top: f.rem(26);
      }
    }

    &:nth-of-type(3) {
      margin-top: f.rem(32);
      @include m.responsive(md) {
        margin-top: f.rem(48);
      }
    }
  }

  &__head {
    font-weight: 600;
    @include m.font(
      $font-size: 15,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      flex-basis: f.rem(184);
      padding-top: f.rem(22);
      padding-bottom: f.rem(22);
      @include m.font(
        $font-size: 16,
        $letter-spacing: 60
      );
    }
  }

  &__body {
    margin-top: f.rem(11);
    @include m.responsive(md) {
      flex: 1;
      margin-top: 0;
    }

    .reviewRate {
      margin-top: f.rem(10);
      @include m.flex(
        $align-items: center
      );
      @include m.responsive(md) {
        height: f.rem(60);
        margin-top: 0;
      }
    }

    .reviewRateStar {
      width: f.rem(28);
      height: f.rem(27);
      font-size: 0;
      background-repeat: no-repeat;
      background-size: contain;
      @include m.responsive(md) {
        width: f.rem(18);
        height: f.rem(17);
      }

      &:not(:first-of-type) {
        margin-left: f.rem(16);
        @include m.responsive(md) {
          margin-left: f.rem(4);
        }
      }

      &.starOff {
        background-image: url('#{v.$root}assets/images/icon_star_off.svg');
      }

      &.starOn {
        background-image: url('#{v.$root}assets/images/icon_star_on.svg');
      }
    }
  }

  &__input {
    width: 100%;
    height: f.rem(56);
    padding: f.rem(16);
    border: 2px solid v.$COLOR_GRAY_1;
    border-radius: 8px;
    @include m.font(
      $font-size: 14,
      $line-height: 22,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      height: f.rem(60);
      padding: f.rem(22);
      @include m.font(
        $font-size: 16,
        $line-height: 27,
        $letter-spacing: 60
      );
    }

    &::placeholder {
      @include m.font(
        $color: v.$COLOR_GRAY_2,
        $letter-spacing: 60
      );
    }
  }

  &__textarea {
    width: 100%;
    height: f.rem(250);
    padding: f.rem(16);
    border: 2px solid v.$COLOR_GRAY_1;
    border-radius: 8px;
    @include m.font(
      $font-size: 14,
      $line-height: 22,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      height: f.rem(260);
      padding: f.rem(14) f.rem(22);
      @include m.font(
        $font-size: 16,
        $line-height: 28,
        $letter-spacing: 60
      );
    }

    &::placeholder {
      @include m.font(
        $color: v.$COLOR_GRAY_2,
        $line-height: 28,
        $letter-spacing: 60
      );
    }
  }
}