@use "sass:math";
@use "../../foundation/function" as f;
@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

/**
 * Object
 * ========================== */

/* Project ------------ */

/* guide-anchorlink */
.guide-anchorlink {
  &__inner {
    max-width: f.rem(960);
    margin-right: auto;
    margin-left: auto;
  }

  &__list {
    margin-top: f.rem(-12);
    margin-left: f.rem(-12);
    @include m.flex(
      $wrap: wrap,
      $justify-content: center
    );
    @include m.responsive(md) {
      margin-top: f.rem(-26);
      margin-left: f.rem(-24);
    }
  }

  &__item {
    flex-basis: f.rem(256);
    margin-top: f.rem(12);
    margin-left: f.rem(12);
    @include m.responsive(md) {
      flex-basis: f.rem(224);
      margin-top: f.rem(24);
      margin-left: f.rem(24);
    }
  }
}

