@use "../../foundation/function" as f;
@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

/**
 * Object
 * ========================== */

/* Project ------------ */

/* guide */
.guide {
  position: relative;
  padding-top: f.rem(98);
  padding-bottom: f.rem(90);
  background-color: v.$COLOR_GRAY_5;
  @include m.responsive(md) {
    padding-top: f.rem(144);
    padding-bottom: f.rem(180);
  }

  &__inner {
    @include m.inner;
  }

  &__contents {
    position: relative;
    z-index: 10;
  }

  &__heading {
    text-align: center;
  }

  &__sub {
    display: inline-block;
    font-weight: 600;
    @include m.font(
      $color: v.$COLOR_YELLOW_GREEN,
      $font-size: 15,
      $letter-spacing: 80
    );
    @include m.responsive(md) {
      @include m.font(
        $font-size: 16
      );
    }
  }

  &__main {
    display: block;
    margin-top: f.rem(14);
    font-weight: 600;
    @include m.font(
      $font-size: 32,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      margin-top: f.rem(12);
      @include m.font(
        $font-size: 38
      );
    }
  }

  &__anchorlink-wrapper {
    margin-top: f.rem(30);
    @include m.responsive(md) {
      margin-top: f.rem(40);
    }
  }

  &__block {
    margin-top: f.rem(38);
    padding: f.rem(52) f.rem(25) f.rem(60);
    border-radius: 9px;
    background-color: v.$COLOR_WHITE;
    @include m.responsive(md) {
      margin-top: f.rem(54);
      padding: f.rem(80);
      border-radius: 12px;
    }
  }

  &__head {
    margin-top: f.rem(-120);
    padding-top: f.rem(120);
    padding-bottom: f.rem(24);
    border-bottom: 2px solid v.$COLOR_GRAY_5;
    font-weight: 600;
    @include m.flex();
    @include m.font(
      $color: v.$COLOR_GREEN,
      $font-size: 20,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      margin-top: f.rem(-136);
      padding-top: f.rem(136);
      padding-bottom: f.rem(32);
      @include m.font(
        $font-size: 24
      );
    }
  }

  &__body {
    &:not(:last-of-type) {
      margin-bottom: f.rem(50);
      @include m.responsive(md) {
        margin-bottom: f.rem(72);
      }
    }
  }

  &__dot-wrapper {
    margin-top: f.rem(-5);
    margin-left: f.rem(16);
    @include m.responsive(md) {
      margin-top: f.rem(-7);
      margin-left: f.rem(24);
    }
  }
}