@use "../../foundation/function" as f;
@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

/**
 * Object
 * ========================== */

/* Project ------------ */

/* introduction */
.introduction {
  position: relative;
  padding-top: f.rem(106);
  background-color: v.$COLOR_GRAY_1;
  @include m.responsive(md) {
    padding-top: f.rem(152);
  }

  &__inner {
    @include m.inner;
  }

  &__contents {
    position: relative;
    z-index: 10;
  }

  &__title {
    text-align: center;
  }

  &__sub {
    display: inline-block;
    padding: f.rem(8.5) f.rem(14);
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: v.$COLOR_GREEN;
    font-weight: 500;
    @include m.font(
      $color: v.$COLOR_WHITE,
      $font-size: 15,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      padding: f.rem(8) f.rem(16);
      @include m.font(
        $font-size: 16
      );
    }
  }

  &__main {
    display: block;
    margin-top: f.rem(12);
    @include m.font(
      $font-size: 28,
      $line-height: 34,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      margin-top: f.rem(14);
      @include m.font(
        $font-size: 32,
        $line-height: 45
      );
    }
  }

  &__block {
    &:first-of-type {
      margin-top: f.rem(36);
      @include m.responsive(md) {
        margin-top: f.rem(48);
      }
    }

    &:not(:first-of-type) {
      margin-top: f.rem(60);
      @include m.responsive(md) {
        margin-top: f.rem(70);
      }
    }
  }

  &__head {
    padding: f.rem(17);
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    background-color: v.$COLOR_GREEN;
    font-weight: 600;
    text-align: center;
    @include m.font(
      $color: v.$COLOR_WHITE,
      $font-size: 16,
      $line-height: 22.5,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      flex-basis: calc(50% - 8px);
      padding: f.rem(11);
      border-top-right-radius: 12px;
      border-top-left-radius: 12px;
      @include m.font(
        $font-size: 24,
        $line-height: 45
      );
    }
  }

  &__head-en {
    sup {
      top: 0em;
      @include m.responsive(md) {
        top: -0.5em;
      }
    }
  }

  &__body {
    padding: f.rem(42) f.rem(24) f.rem(56);
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    background-color: v.$COLOR_WHITE;
    @include m.responsive(md) {
      padding: f.rem(56) f.rem(104) f.rem(70);
    }
  }

  &__lead {
    @include m.font(
      $font-size: 14,
      $line-height: 22,
      $letter-spacing: 60
    );
    @include m.responsive(md) {
      @include m.font(
        $font-size: 16,
        $line-height: 28
      );
    }

    sup {
      top: 0em;
      @include m.responsive(md) {
        top: 0.1em;
        @include m.font(
          $font-size: 18
        );
      }
    }
  }

  &__column {
    @include m.responsive(md) {
      @include m.flex();
    }
  }

  &__sub-heading {
    @include m.responsive(md) {
      @include m.flex(
        $align-items: center
      );
    }

    &:nth-of-type(2) {
      margin-top: f.rem(35);
      @include m.responsive(md) {
        margin-top: f.rem(44);
      }
    }
  }

  &__description {
    margin-top: f.rem(14);
    @include m.font(
      $font-size: 15,
      $line-height: 24,
      $letter-spacing: 60,
    );
    @include m.responsive(md) {
      margin-top: f.rem(22);
      @include m.font(
        $font-size: 15,
        $line-height: 27
      );
    }

    sup {
      top: 0;
      vertical-align: super;
      font-size: 75%;
    }
  }

  &__notes-list {
    margin-top: f.rem(37);
    @include m.font(
      $font-size: 13,
      $line-height: 18,
      $letter-spacing: 60
    );
    @include m.responsive(md) {
      margin-top: f.rem(46);
    }
  }

  &__notes-item {
    padding-left: 2em;
    text-indent: -2em;
    &:not(:first-child) {
      margin-top: f.rem(4);
    }
  }

  &__list {
    font-weight: bold;

    &:nth-child(1) {
      margin-top: f.rem(29);
      @include m.responsive(md) {
        flex-basis: 54.6%;
        margin-top: f.rem(38);
      }
    }

    &:nth-child(2) {
      margin-top: f.rem(20.5);
      @include m.responsive(md) {
        flex-basis: 45.4%;
        margin-top: f.rem(38);
      }
    }
  }

  &__item {
    padding-left: 1em;
    text-indent: -1em;

    &:not(:first-child) {
      margin-top: f.rem(14);
      @include m.responsive(md) {
        margin-top: f.rem(13);
      }
    }

    &::before {
      content: '';
      display: inline-block;
      width: f.rem(8);
      height: f.rem(8);
      border-radius: 50%;
      margin-right: f.rem(4);
      background-color: v.$COLOR_GRAY_2;
      vertical-align: middle;
    }
  }

  &__link {
    position: relative;
    font-weight: 600;
    @include m.font(
      $font-size: 15,
      $line-height: 22.5,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      transition: color .3s ease-in-out;
      @include m.font(
        $font-size: 16
      );
    }

    &:after {
      content: '';
      display: inline-block;
      width: f.rem(12);
      height: f.rem(12);
      margin-left: f.rem(7);
      background-image:  url('#{v.$root}assets/images/icon_blank.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }

    @include m.hover() {
      color: v.$COLOR_GREEN;
    }
  }

  &__sub-column {
    margin-top: f.rem(10);
    @include m.flex(
      $direction: column-reverse,
      $justify-content: space-between
    );
    @include m.responsive(md) {
      flex-direction: row;
      margin-top: f.rem(22);
      padding-right: f.rem(8);
      padding-left: f.rem(8);
    }
  }

  &__link-wrapper {
    margin-top: f.rem(20);
    @include m.responsive(md) {
      margin-top: 0;
    }
  }

  &__notes {
    @include m.font(
      $font-size: 13,
      $line-height: 18,
      $letter-spacing: 40
    );

    &::before {
      content: "※";
    }
  }

  &__button-wrapper {
    margin-top: f.rem(39);
    @include m.flex(
      $justify-content: center
    );
    @include m.responsive(md) {
      margin-top: f.rem(20);
    }
  }

  &__shape {
    position: absolute;
    will-change: transform;

    img {
      width: 100%;
    }

    &--01 {
      top: f.vw(-83, 375);
      right: f.vw(-71, 375);
      width: f.vw(150, 375);
      height: f.vw(137, 375);
      @include m.responsive(md) {
        right: f.vw(-135, 1280);
        top: f.vw(-133, 1280);
        width: f.vw(300, 1280);
        height: f.vw(274, 1280);
      }
    }

    &--02 {
      top: f.vw(-81, 375);
      right: f.vw(42, 375);
      width: f.vw(56, 375);
      height: f.vw(56, 375);
      @include m.responsive(md) {
        right: f.vw(90, 1280);
        top: f.vw(-131, 1280);
        width: f.vw(114, 1280);
        height: f.vw(114, 1280);
      }

      circle {
        stroke-width: 4px;
        @include m.responsive(md) {
          stroke-width: 2px;
        }
      }
    }
  }

  &__links-wrapper {
    margin-top: f.rem(64);
    padding-top: f.rem(64);
    padding-bottom: f.rem(96);
    background-color: v.$COLOR_WHITE;
    @include m.responsive(md) {
      margin-top: f.rem(80);
      padding-top: f.rem(96);
      padding-bottom: f.rem(96);
    }
  }
}