@use "sass:math";
@use "../../foundation/function" as f;
@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

/**
 * Object
 * ========================== */

/* Project ------------ */

/* lineup */
.lineup {
  $this: &;
  position: relative;
  padding-top: f.rem(64);
  padding-bottom: f.rem(64);
  background-color: v.$COLOR_BEIGE;
  @include m.responsive(md) {
    padding-top: f.rem(102);
    padding-bottom: f.rem(128);
  }

  &__inner {
    @include m.inner;
  }

  &__main {
    margin-top: f.rem(42);
    @include m.flex(
      $direction: column
    );
    @include m.responsive(md) {
      margin-top: f.rem(64);
      @include m.flex($direction: row);
    }
  }

  &__text {
    padding-top: f.rem(28);
    @include m.responsive(md) {
      flex-basis: percentage(math.div(568, 1088));
      padding-top: f.rem(10);
      padding-left: percentage(math.div(48, 1088));
    }
  }

  &__copy {
    width: fit-content;
    padding: f.rem(7.5) f.rem(13);
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: v.$COLOR_GREEN;
    font-weight: 500;
    @include m.font(
      $color: v.$COLOR_WHITE,
      $font-size: 13,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      padding: f.rem(10) f.rem(15);
    }
  }

  &__column {
    margin-top: f.rem(9);
    @include m.flex();
    @include m.responsive(md) {
      margin-top: f.rem(8);
    }
  }

  &__name {
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
    @include m.font(
      $font-size: 32,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      @include m.font(
        $font-size: 36
      );
    }

    sup {
      top: -1em;
    }
  }

  &__gram {
    margin-left: f.rem(8);
    margin-top: f.rem(12);
    font-weight: 600;
    @include m.font(
      $font-size: 15
    );
    @include m.responsive(md) {
      margin-top: f.rem(14);
      margin-left: f.rem(12);
      @include m.font(
        $font-size: 16
      );
    }
  }

  &__description {
    margin-top: f.rem(13);
    @include m.font(
      $font-size: 15,
      $line-height: 24,
      $letter-spacing: 60
    );
    @include m.responsive(md) {
      margin-top: f.rem(12);
      @include m.font(
        $font-size: 16,
        $line-height: 28
      );
    }
  }

  &__nutrition {
    margin-top: f.rem(10);
    @include m.responsive(md) {
      margin-top: f.rem(6);
    }
  }

  &__nutrition-name {
    font-weight: 600;
    @include m.font(
      $font-size: 15,
      $letter-spacing: 40
    );
  }

  &__nutrition-number {
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
    @include m.font(
      $font-size: 20,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      margin-left: f.rem(4);
      @include m.font(
        $font-size: 21
      );
    }
  }

  &__nutrition-gram {
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    @include m.font(
      $font-size: 16,
      $letter-spacing: 40
    );
  }

  &__slash {
    margin-right: f.rem(4);
    margin-left: f.rem(4);
    @include m.responsive(md) {
      margin-right: 0;
      margin-left: 0;
    }
  }

  &__tags {
    margin-top: f.rem(14);
    margin-left: f.rem(-4);
    font-weight: 500;
    @include m.flex(
      $wrap: wrap
    );
    @include m.font(
      $color: v.$COLOR_YELLOW_GREEN,
      $font-size: 12,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      margin-top: f.rem(12);
      margin-left: f.rem(-8);
      border-radius: 12px;
      @include m.font(
        $font-size: 13
      );
    }
  }

  &__tag {
    margin-top: f.rem(8);
    margin-left: f.rem(4);
    padding: f.rem(3) f.rem(11);
    border: 2px solid v.$COLOR_YELLOW_GREEN;
    border-radius: 12px;
    background-color: v.$COLOR_WHITE;
    font-weight: 700;
    @include m.responsive(md) {
      margin-top: f.rem(10);
      margin-left: f.rem(8);
      padding: f.rem(3.5) f.rem(14);
    }
  }

  &__menu {
    margin-top: f.rem(24);
    @include m.responsive(md) {
      margin-top: f.rem(28);
    }
  }

  &__menu-head {
    padding: f.rem(9) f.rem(12);
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    background-color: v.$COLOR_YELLOW_GREEN;
    font-weight: 600;
    @include m.font(
      $color: v.$COLOR_WHITE,
      $font-size: 14,
      $line-height: 20,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      padding: f.rem(6) f.rem(16);
      @include m.font(
        $font-size: 15,
        $line-height: 21
      );
    }
  }

  &__menu-body {
    padding: f.rem(9) f.rem(12) f.rem(20);
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    background-color: v.$COLOR_WHITE;
    @include m.font(
      $font-size: 14,
      $line-height: 20,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      padding: f.rem(10) f.rem(16) f.rem(16);
      @include m.font(
        $font-size: 15,
        $line-height: 21
      );
    }
  }

  &__image {
    order: -1;
    flex-basis: percentage(math.div(520, 1088));
  }

  &__sub {
    margin-top: f.rem(52);
    @include m.responsive(md) {
      margin-top: f.rem(82);
    }
  }

  &__single-wrapper {
    margin-top: f.rem(52);
    @include m.responsive(md) {
      margin-top: f.rem(72);
    }
  }

  &__head {
    padding: f.rem(17);
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    background-color: v.$COLOR_GREEN;
    text-align: center;
    font-weight: 600;
    @include m.font(
      $color: v.$COLOR_WHITE,
      $font-size: 22,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      padding: f.rem(20);
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      @include m.font(
        $font-size: 24
      );
    }
  }

  &__body {
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    background-color: v.$COLOR_WHITE;
    @include m.responsive(md) {
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: f.rem(40) f.rem(25) f.rem(60);
    gap: f.rem(52) 0;
    @include m.responsive(md) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 0 percentage(math.div(48, 1088));
      padding: f.rem(24) percentage(math.div(32, 330.67)) f.rem(46);
    }
  }

  &__use-wrapper {
    margin-top: f.rem(52);
    @include m.responsive(md) {
      margin-top: f.rem(72);
    }
  }

  &__shape {
    position: absolute;
    will-change: transform;
    top: f.vw(-32, 375);
    right: f.vw(-61, 375);
    width: f.vw(150, 375);
    height: f.vw(140.5, 375);
    @include m.responsive(md) {
      top: f.vw(-157, 1280);
      right: f.vw(-100, 1280);
      width: f.vw(300, 1280);
      height: f.vw(281, 1280);
    }

    img {
      width: 100%;
    }
  }
}