@use "../../foundation/function" as f;
@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

/**
 * Object
 * ========================== */

/* Project ------------ */

/* loading */
.loading {
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100%;
  background-color: v.$COLOR_GREEN;
  @include m.flex(
    $justify-content: center,
    $align-items: center
  );

  &__logo {
    img {
      width: f.rem(152);
      @include m.responsive(md) {
        width: f.rem(196);
      }
    }
  }
}
