@use "sass:math";
@use "../../foundation/function" as f;
@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

/**
 * Object
 * ========================== */

/* Project ------------ */

/* mainvisual */
.mainvisual {
  position: relative;

  &__block {
    @include m.flex(
      $direction: column
    );
    @include m.responsive(md) {
      flex-direction: row;
    }
  }

  &__text {
    order: 2;
  }

  &__copy {
    margin-left: f.vw(7);
    padding-top: f.vw(37, 375);
    padding-bottom: f.vw(40, 375);
    text-align: center;
    @include m.responsive(md) {
      padding: f.vw(228, 1280) 0 f.vw(100, 1280) f.vw(58, 1280);
    }

    img {
      width: f.vw(327.5, 375);
      @include m.responsive(md) {
        width: f.vw(684.5, 1280);
      }
    }
  }

  &__image-main {
    order: 3;
    width: f.vw(325, 375);
    @include m.responsive(md) {
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      width: f.vw(648, 1280);
    }
  }

  &__image-sub {
    order: 1;
    width: f.vw(220, 375);
    margin-left: auto;
    @include m.responsive(md) {
      display: none;
    }
  }

  &__product-wrapper {
    margin-top: f.rem(-44);
    @include m.responsive(md) {
      margin-top: f.rem(-15);
    }
  }

  &__shape {
    position: absolute;
    will-change: transform;

    img {
      width: 100%;
    }

    &--01 {
      top: f.vw(-29, 375);
      left: f.vw(-49, 375);
      width: f.vw(150, 375);
      height: f.vw(141.5, 375);
      @include m.responsive(md) {
        top: f.vw(-107, 1280);
        left: f.vw(-55, 1280);
        width: f.vw(300, 1280);
        height: f.vw(283, 1280);
      }
    }

    &--02 {
      top: f.vw(44, 375);
      left: f.vw(56, 375);
      width: f.vw(56, 375);
      height: f.vw(56, 375);
      @include m.responsive(md) {
        top: f.vw(41, 1280);
        left: f.vw(156, 1280);
        width: f.vw(114, 1280);
        height: f.vw(114, 1280);
      }

      circle {
        stroke-width: 4px;
        @include m.responsive(md) {
          stroke-width: 2px;
        }
      }
    }
  }
}