@use "sass:math";
@use "../../foundation/function" as f;
@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

/**
 * Object
 * ========================== */

/* Project ------------ */

/* menu */
.menu {
  $this: &;
  padding-top: f.rem(36);
  padding-bottom: f.rem(38);
  border-radius: 12px;
  background-color: v.$COLOR_WHITE;
  @include m.responsive(md) {
    padding-top: f.rem(48);
    padding-bottom: f.rem(34);
  }

  &__inner {
    padding-right: f.rem(9);
    padding-left: f.rem(9);
    @include m.responsive(md) {
      padding-right: f.rem(52);
      padding-left: f.rem(52);
    }
  }

  &__heading {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    padding: f.rem(11) f.rem(21);
    border-radius: 24px;
    background-color: v.$COLOR_YELLOW_GREEN;
    font-weight: 600;
    @include m.font(
      $color: v.$COLOR_WHITE,
      $font-size: 15,
      $line-height: 22.5,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      padding: f.rem(1.5) f.rem(22);
      @include m.font(
        $color: v.$COLOR_WHITE,
        $font-size: 21,
        $line-height: 45
      );
    }
  }

  &__slider {
    position: relative;
    margin-top: f.rem(32);
    @include m.responsive(md) {
      margin-top: f.rem(40);
    }

    .swiper-container {
      padding-bottom: f.rem(48);
      @include m.responsive(md) {
        padding-bottom: f.rem(56);
      }
    }

    .swiper-slide {
      padding-right: f.rem(16);
      padding-left: f.rem(16);
      @include m.responsive(md) {
        padding-right: 0;
        padding-left: 0;
      }
    }

    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-container-horizontal>.swiper-pagination-bullets {
      bottom: 7px;
      @include m.responsive(md) {
        bottom: 11px;
      }
    }

    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0 f.rem(10);
      @include m.responsive(md) {
        margin: 0 f.rem(14);
      }
    }

    .swiper-pagination-bullet {
      opacity: 1;
      position: relative;
      background-color: v.$COLOR_GRAY_2;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: f.rem(24);
        height: f.rem(24);
        border-width: 2px;
        border-style: solid;
        border-color: transparent;
        border-radius: 50%;
        background-color: transparent;
        @include m.responsive(md) {
          transition: border-color .4s ease-in-out;
        }
      }
    }

    .swiper-pagination-bullet-active {
      background-color: v.$COLOR_GREEN;

      &::before {
        border-color: v.$COLOR_GREEN;
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      top: 34.943%;
      width: f.rem(36);
      height: f.rem(36);
      border: solid 2px v.$COLOR_BROWN;
      background-color: v.$COLOR_WHITE;
      border-radius: 50%;
      @include m.responsive(md) {
        top: 29%;
        width: f.rem(56);
        height: f.rem(56);
      }

      &::before {
        content: "";
        display: block;
        padding-top: 100%;
        pointer-events: none;
        position: absolute;
        z-index: -1;
        background-color: v.$COLOR_BROWN;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        border-radius: 100%;
        transform-origin: center center;
        @include m.responsive(md) {
          transition: transform .3s ease-in-out;
        }
      }

      &::after {
        content: '';
      }

      svg {
        overflow: visible;
        width: f.rem(8);
        @include m.responsive(md) {
          width: f.rem(9);
        }
      }

      path {
        stroke: v.$COLOR_BROWN;
        @include m.responsive(md) {
          transition: stroke .4s ease-in-out;
        }
      }

      @include m.hover() {
        &::before {
          transform: translate(-50%, -50%) scale(1.1);
        }

        path {
          stroke: v.$COLOR_WHITE;
        }
      }
    }

    .swiper-button-prev {
      left: 0;
      @include m.responsive(md) {
        left: -80px;
      }

      svg {
        transform: scaleX(-1);
      }
    }

    .swiper-button-next {
      right: 0;
      @include m.responsive(md) {
        right: -80px;
      }
    }
  }

  &__image {
    border-radius: 18px;
    overflow: hidden;
    @include m.responsive(md) {
      border-radius: 12px;
    }
  }

  &__name {
    margin-top: f.rem(12);
    @include m.font(
      $font-size: 14,
      $line-height: 20,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      @include m.font(
        $font-size: 15,
        $line-height: 21
      );
    }
  }
}