@use "sass:math";
@use "../../foundation/function" as f;
@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

/**
 * Object
 * ========================== */

/* Project ------------ */

/* modal */
.modal {
  $this: &;
  position: relative;

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__container {
    max-width: f.rem(325);
    max-height: 80vh;
    padding: f.rem(52) f.rem(25) f.rem(52);
    border-radius: 9px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: v.$COLOR_WHITE;
    @include m.responsive(md) {
      max-width: f.rem(984);
      padding: f.rem(64) f.rem(88) f.rem(80);
      border-radius: 12px;
    }
  }

  &__inner {
    position: relative;
  }

  &__column {
    @include m.responsive(md) {
      @include m.flex(
        $direction: row-reverse
      );
    }
  }

  &__text {
    @include m.responsive(md) {
      width: percentage(math.div(488, 808));
      padding-top: f.rem(18);
      padding-left: percentage(math.div(62, 808));
    }
  }

  &__heading {
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    @include m.font(
      $color: v.$COLOR_GREEN,
      $font-size: 22,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      @include m.font(
        $font-size: 24
      );
    }
  }

  &__dot-wrapper {
    display: inline-flex;
    margin-top: f.rem(-2);
    margin-left: f.rem(18);
    @include m.responsive(md) {
      margin-left: f.rem(24);
    }
  }

  &__close {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -12px;
    right: -8px;
    z-index: 1;
    width: f.rem(48);
    height: f.rem(44.5);
    background-image: url('#{v.$root}assets/images/icon_modal.svg');
    background-repeat: no-repeat;
    background-size: contain;
    @include m.responsive(md) {
      top: -16px;
      right: -16px;
      width: f.rem(72);
      height: f.rem(67);
    }

    &::before {
      content: "\2715";
      font-weight: bold;
      @include m.font(
        $color: v.$COLOR_WHITE,
        $font-size: 22
      );
      @include m.responsive(md) {
        @include m.font(
          $font-size: 30
        );
      }
    }
  }

  &__content {
    margin-top: f.rem(8);
    @include m.responsive(md) {
      margin-top: f.rem(16);
    }
  }

  &__description {
    @include m.font(
      $font-size: 15,
      $line-height: 24,
      $letter-spacing: 60
    );
    @include m.responsive(md) {
      @include m.font(
        $font-size: 16,
        $line-height: 28
      );
    }
  }

  &__point {
    margin-top: f.rem(15);
    padding: f.rem(16) f.rem(24) f.rem(18);
    border-radius: 9px;
    background-color: v.$COLOR_BEIGE;
    @include m.responsive(md) {
      margin-top: f.rem(24);
      padding: f.rem(16) f.rem(24) f.rem(20);
    }
  }

  &__point-head {
    position: relative;
    width: fit-content;
    padding: f.rem(4) f.rem(6);
    border-radius: 3px;
    background-color: v.$COLOR_YELLOW_GREEN;
    font-weight: 600;
    @include m.font(
      $color: v.$COLOR_WHITE,
      $font-size: 12,
      $letter-spacing: 60
    );
    @include m.responsive(md) {
      padding: f.rem(7) f.rem(14);
      border-radius: 6px;
      @include m.font(
        $font-size: 14
      );
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -9px;
      left: 34px;
      width: f.rem(10);
      height: f.rem(10);
      background-color: v.$COLOR_YELLOW_GREEN;
      clip-path: polygon(0 0, 100% 0%, 100% 70%);
      @include m.responsive(md) {
        left: 56px;
        bottom: -15px;
        width: f.rem(16);
        height: f.rem(16);
      }
    }
  }

  &__point-body {
    margin-top: f.rem(10);
    font-weight: 600;
    @include m.font(
      $font-size: 14,
      $line-height: 20,
      $letter-spacing: 60
    );
    @include m.responsive(md) {
      margin-top: f.rem(12);
      @include m.font(
        $font-size: 15,
        $line-height: 21
      );
    }
  }

  &__slider {
    position: relative;
    width: 87%;
    margin-top: f.rem(28);
    margin-right: auto;
    margin-left: auto;
    @include m.responsive(md) {
      width: percentage(math.div(320, 808));
      margin-top: 0;
    }

    .swiper-container {
      padding-bottom: f.rem(40);
      @include m.responsive(md) {
        padding-bottom: f.rem(50);
      }
    }

    .swiper-pagination {
      bottom: -34px;
      left: 0;
      width: 100%;
      @include m.responsive(md) {
        bottom: -38px;
      }
    }

    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-container-horizontal>.swiper-pagination-bullets {
      bottom: 6px;
      @include m.responsive(md) {
        bottom: 8px;
      }
    }

    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0 f.rem(11);
      @include m.responsive(md) {
        margin: 0 f.rem(14);
      }
    }

    .swiper-pagination-bullet {
      opacity: 1;
      position: relative;
      background-color: v.$COLOR_GRAY_2;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: f.rem(24);
        height: f.rem(24);
        border-width: 2px;
        border-style: solid;
        border-color: transparent;
        border-radius: 50%;
        background-color: transparent;
        @include m.responsive(md) {
          transition: border-color .4s ease-in-out;
        }
      }
    }

    .swiper-pagination-bullet-active {
      background-color: v.$COLOR_GREEN;

      &::before {
        border-color: v.$COLOR_GREEN;
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      top: f.rem(116);
      width: f.rem(36);
      height: f.rem(36);
      border: solid 2px v.$COLOR_BROWN;
      background-color: v.$COLOR_WHITE;
      border-radius: 50%;
      @include m.responsive(md) {
        top: 43.5%;
        width: f.rem(40);
        height: f.rem(40);
      }

      &::before {
        content: "";
        display: block;
        padding-top: 100%;
        pointer-events: none;
        position: absolute;
        z-index: -1;
        background-color: v.$COLOR_BROWN;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        border-radius: 100%;
        transform-origin: center center;
        @include m.responsive(md) {
          transition: transform .3s ease-in-out;
        }
      }

      &::after {
        content: '';
      }

      svg {
        overflow: visible;
        width: f.rem(8);
        @include m.responsive(md) {
          width: f.rem(9);
        }
      }

      path {
        stroke: v.$COLOR_BROWN;
        @include m.responsive(md) {
          transition: stroke .4s ease-in-out;
        }
      }

      @include m.hover() {
        &::before {
          transform: translate(-50%, -50%) scale(1.1);
        }

        path {
          stroke: v.$COLOR_WHITE;
        }
      }
    }

    .swiper-button-prev.swiper-button-disabled,
    .swiper-button-next.swiper-button-disabled {
      opacity: 1;
      border-color: v.$COLOR_GRAY_7;
      background-color: v.$COLOR_GRAY_1;

      path {
        stroke: v.$COLOR_GRAY_7;
      }
    }

    .swiper-button-prev {
      left: -18px;
      @include m.responsive(md) {
        left: -19px;
      }

      svg {
        transform: scaleX(-1);
      }
    }

    .swiper-button-next {
      right: -18px;
      @include m.responsive(md) {
        right: -19px;
      }
    }
  }

  &__head {
    position: relative;
    margin-top: f.rem(50);
    text-align: center;
    font-weight: 600;
    @include m.font(
      $color: v.$COLOR_GREEN,
      $font-size: 18,
      $letter-spacing: 60
    );
    @include m.responsive(md) {
      margin-top: f.rem(48);
      @include m.font(
        $font-size: 21,
        $letter-spacing: 40
      );
    }

    span {
      display: inline-block;
      padding-right: f.rem(3);
      padding-left: f.rem(3);
      background-color: v.$COLOR_WHITE;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      z-index: -1;
      width: 100%;
      height: 2px;
      background-color: v.$COLOR_GRAY_1;
    }
  }

  &__list {
    margin-top: f.rem(32);
    @include m.responsive(md) {
      margin-top: f.rem(38);
      @include m.flex(
        $justify-content: space-between
      );
    }
  }

  &__item {
    &:not(:first-of-type) {
      margin-top: f.rem(30);
      @include m.responsive(md) {
        margin-top: 0;
        margin-left: f.rem(32);
      }
    }
  }

  &__link {
    @include m.hover() {
      #{$this}__name {
        @include m.font(
          $color: v.$COLOR_GREEN
        );
      }

      #{$this}__name::after {
        transform: translateX(4px);
      }

      #{$this}__image {
        img {
          transform: scale(1.1);
        }
      }
    }
  }

  &__image {
    border-radius: 12px;
    overflow: hidden;

    img {
      @include m.responsive(md) {
        transition: transform .3s ease-out;
      }
    }
  }

  &__name {
    margin-top: f.rem(16);
    font-weight: 600;
    @include m.font(
      $font-size: 15,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      transition: color .3s ease-out;
    }

    &::after {
      content: "";
      display: inline-block;
      width: f.rem(8);
      height: f.rem(12);
      margin-left: f.rem(5);
      background-image: url('#{v.$root}assets/images/icon_arrow_right.svg');
      background-repeat: no-repeat;
      background-size: contain;
      vertical-align: baseline;
      @include m.responsive(md) {
        margin-left: f.rem(6);
        transition: transform .3s ease-out;
      }
    }
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .4s ease-out;
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .4s ease-out;
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .4s ease-out;
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .4s ease-out;
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

@keyframes mmfadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(10px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-10px);
  }
}