@use "sass:math";
@use "../../foundation/function" as f;
@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

/**
 * Object
 * ========================== */

/* Project ------------ */

/* news */
.news {
  position: relative;
  padding-top: f.rem(52);
  @include m.responsive(md) {
    padding-top: f.rem(96);
  }

  &__inner {
    @include m.inner;
  }

  &__grid {
    padding: f.rem(50) f.rem(20) f.rem(40);
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    background-color: v.$COLOR_BEIGE;
    @include m.responsive(md) {
      display: grid;
      grid-template:
        "heading list" auto
        "button list" 1fr / 224px 1fr;
      gap: f.rem(40) f.rem(64);
      padding: f.rem(64) percentage(math.div(80, 1088)) f.rem(64);
      border-top-left-radius: 90px;
      border-bottom-right-radius: 90px;
    }
  }

  &__heading {
    text-align: center;
    font-family: 'Heebo', sans-serif;
    @include m.font(
      $font-size: 32,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      grid-area: heading;
      align-self: start;
      padding-top: f.rem(12);
      text-align: left;
      @include m.font(
        $font-size: 48
      );
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: f.rem(14) 0;
    margin-top: f.rem(34);
    @include m.responsive(md) {
      grid-area: list;
      gap: f.rem(17) 0;
      margin-top: 0;
    }
  }

  &__button-wrapper {
    margin-top: f.rem(30);
    @include m.flex(
      $justify-content: center
    );
    @include m.responsive(md) {
      grid-area: button;
      align-self: start;
      margin-top: 0;
    }
  }

  &__shape {
    position: absolute;
    will-change: transform;

    img {
      width: 100%;
    }

    &--01 {
      top: f.vw(-28, 375);
      right: f.vw(-21, 375);
      width: f.vw(60, 375);
      height: f.vw(55, 375);
      @include m.responsive(md) {
        top: f.vw(-64, 1280);
        right: f.vw(-32, 1280);
        width: f.vw(120, 1280);
        height: f.vw(110, 1280);
      }
    }

    &--02 {
      top: f.vw(-2, 375);
      right: f.vw(-77, 375);
      width: f.vw(150, 375);
      height: f.vw(137.5, 375);
      @include m.responsive(md) {
        top: f.vw(-24, 1280);
        right: f.vw(-144, 1280);
        width: f.vw(300, 1280);
        height: f.vw(281, 1280);
      }

      path {
        stroke-width: 4px;
        @include m.responsive(md) {
          stroke-width: 2px;
        }
      }
    }

    &--03 {
      bottom: f.vw(-95, 375);
      left: f.vw(-66, 375);
      width: f.vw(150, 375);
      height: f.vw(140.5, 375);
      transform: none !important;
      @include m.responsive(md) {
        bottom: f.vw(-159, 1280);
        left: f.vw(-85, 1280);
        width: f.vw(300, 1280);
        height: f.vw(281, 1280);
      }
    }
  }
}
