@use "sass:math";
@use "../../foundation/function" as f;
@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

/**
 * Object
 * ========================== */

/* Project ------------ */

/* nutrition */
.nutrition {
  $this: &;

  &__column {
    @include m.responsive(md) {
      @include m.flex();
    }

    #{$this}__graph {
      &:nth-of-type(1) {
        @include m.responsive(md) {
          flex-basis: percentage(math.div(487.7, 889));
        }
      }

      &:nth-of-type(2) {
        @include m.responsive(md) {
          flex-basis: percentage(math.div(378.3, 889));
          margin-left: percentage(math.div(23, 889));
        }
      }
    }
  }

  &__graph {
    margin-top: f.rem(32);
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    background-color: v.$COLOR_GRAY_1;
    @include m.responsive(md) {
      margin-top: f.rem(40);
      border-top-left-radius: 40px;
      border-bottom-right-radius: 40px;
    }

    &:nth-of-type(3) {
      @include m.responsive(md) {
        margin-top: f.rem(32);
      }
    }
  }

  &__graph + &__graph {
    margin-top: f.rem(24);
    @include m.responsive(md) {
      margin-top: f.rem(40);
    }
  }

  &__inner {
    padding: f.rem(42) f.rem(35) f.rem(38);
    @include m.responsive(md) {
      padding: f.rem(38) percentage(math.div(60, 984)) f.rem(47);
    }
  }

  &__graph-list {
    @include m.responsive(md) {
      @include m.flex(
        $justify-content: space-between
      );
    }
  }

  &__graph-item {
    @include m.responsive(md) {
      flex-basis: calc(100% / 3 - 20px);
      @include m.flex(
        $direction: column,
        $justify-content: space-between
      );
    }

    &:not(:first-of-type) {
      margin-top: f.rem(40);
      @include m.responsive(md) {
        margin-top: 0;
      }
    }
  }

  &__head {
    text-align: center;
    font-weight: 600;
    @include m.font(
      $color: v.$COLOR_GREEN,
      $font-size: 20,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      @include m.font(
        $font-size: 21
      );
    }

    span {
      @include m.font(
        $font-size: 14
      );
    }
  }

  &__body {
    margin-top: f.rem(16);
    @include m.responsive(md) {
      margin-top: f.rem(24);
    }
  }

  &__image {
    text-align: center;
  }

  &__notes-list {
    margin-top: f.rem(22);
    @include m.font(
      $font-size: 13,
      $line-height: 18,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      margin-top: f.rem(22);
      @include m.font(
        $font-size: 13
      );
    }
  }

  &__notes-item {
    padding-left: 1em;
    text-indent: -1em;
    @include m.responsive(md) {
    }

    &:not(:first-of-type) {
      margin-top: f.rem(4);
      @include m.responsive(md) {
        margin-top: f.rem(8);
      }
    }

    sup {
      top: 0;
      @include m.font(
        $font-size: 13
      );
    }
  }
}
