@use "sass:math";
@use "../../foundation/function" as f;
@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

/**
 * Object
 * ========================== */

/* Project ------------ */

/* products-buy */
.products-buy {
  padding: f.rem(16) f.rem(25) f.rem(38);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: v.$COLOR_GRAY_5;
  @include m.responsive(md) {
    padding: f.rem(40) percentage(math.div(48, 544)) f.rem(38);
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }

  &__head {
    @include m.responsive(md) {
      padding-right: percentage(math.div(8, 544));
      padding-left: percentage(math.div(8, 544));
    }
  }

  &__grid {
    display: grid;
    grid-template:
      "number favorite" auto
      "cart cart" 1fr / 1.09fr 0.91fr;
    gap: f.rem(16) 0;
    @include m.responsive(md) {
      grid-template:
        "number cart favorite" auto
        "number cart favorite" 1fr / 27% 59% 14%;
      gap: 0;
    }
  }

  &__number {
    grid-area: number;
    padding-top: f.rem(16);
    @include m.flex(
      $align-items: center
    );
    @include m.responsive(md) {
      padding-top: 0;
    }
  }

  &__number-head {
    @include m.font(
      $font-size: 14,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      flex-basis: 27.05px;
      @include m.font(
        $font-size: 13
      );
    }
  }

  &__number-body {
    position: relative;
    margin-left: f.rem(16);
    @include m.responsive(md) {
      flex: 1;
      margin-left: f.rem(16);
    }
  }

  &__input {
    width: f.rem(60);
    height: f.rem(40);
    padding: f.rem(8) 0 f.rem(8) f.rem(16);
    border-radius: 4px;
    background-color: v.$COLOR_WHITE;
    text-align: left;
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
    @include m.font(
      $font-size: 20
    );
    @include m.responsive(md) {
      width: 100%;
      height: f.rem(54);
      border-radius: 8px;
      text-align: center;
      @include m.font(
        $font-size: 21
      );
    }
  }

  &__cart-button {
    grid-area: cart;
    justify-self: center;
    width: f.rem(275);
    @include m.responsive(md) {
      width: 87.315%;
    }
  }

  &__favorite-button {
    grid-area: favorite;
    justify-self: end;
    width: f.rem(52);
    height: f.rem(52);
    margin-right: f.rem(-10);
    border-radius: 50%;
    background-color: v.$COLOR_WHITE;
    @include m.flex(
      $justify-content: center,
      $align-items: center
    );
    @include m.responsive(md) {
      width: f.rem(56);
      height: f.rem(56);
      margin-right: 0;
    }
  }

  &__favorite-icon {
    svg {
      width: f.rem(20);
      height: f.rem(16);
      margin-top: f.rem(2);
      @include m.responsive(md) {
        transition: fill .3s ease-out;
      }
    }

    path {
      &:first-of-type {
        fill: #fff;
        @include m.responsive(md) {
          transition: fill .3s ease-out;
        }
      }
    }

    @include m.hover() {
      path {
        &:first-of-type {
          fill: v.$COLOR_RED;
        }
      }
    }
  }

  &__body {
    margin-top: f.rem(23);
    padding-top: f.rem(23);
    border-top: 2px solid v.$COLOR_WHITE;
    @include m.responsive(md) {
      margin-top: f.rem(30);
      padding-top: f.rem(32);
    }
  }

  &__text {
    text-align: center;
    font-weight: 600;
    @include m.font(
      $font-size: 14
    );
    @include m.responsive(md) {
      margin-bottom: f.rem(10);
    }
  }

  &__column {
    margin-top: f.rem(12);
    @include m.responsive(md) {
      @include m.flex(
        $justify-content: center
      );
    }
  }

  &__course-button {
    flex-basis: 50%;
    @include m.responsive(md) {
      flex-basis: 44.643%;
    }

    &:not(:first-of-type) {
      margin-top: f.rem(12);
      @include m.responsive(md) {
        margin-top: 0;
        margin-left: f.rem(32);
      }
    }
  }

  &__course-head {
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
    @include m.font(
      $color: v.$COLOR_GREEN,
      $font-size: 20
    );
  }

  &__course-number {
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
    @include m.font(
      $color: v.$COLOR_GREEN,
      $font-size: 28
    );
    @include m.responsive(md) {
      @include m.font(
        $font-size: 32
      );
    }
  }

  &__course-percentage,
  &__course-off {
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
    @include m.font(
      $color: v.$COLOR_GREEN,
      $font-size: 16
    );
    @include m.responsive(md) {
      @include m.font(
        $font-size: 20
      );
    }
  }

  &__course-percentage {
    margin-left: f.rem(-6);
  }

  &__course-body {
    max-width: f.rem(220);
    margin-top: f.rem(4);
    margin-right: auto;
    margin-left: auto;
  }
}