@use "sass:math";
@use "../../foundation/function" as f;
@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

/**
 * Object
 * ========================== */

/* Project ------------ */

/* products-info */
.products-info {
  &__heading {
    width: f.rem(154);
    padding: f.rem(14.5);
    border-top-left-radius: 14px;
    border-bottom-right-radius: 14px;
    background-color: v.$COLOR_GREEN;
    text-align: center;
    font-weight: 600;
    @include m.font(
      $color: v.$COLOR_WHITE,
      $font-size: 15,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      width: f.rem(200);
      padding: f.rem(19);
      border-top-left-radius: 24px;
      border-bottom-right-radius: 24px;
      @include m.font(
        $font-size: 19
      );
    }

    &:not(:first-of-type) {
      margin-top: f.rem(38);
      @include m.responsive(md) {
        margin-top: f.rem(54);
      }
    }
  }

  &__column {
    @include m.responsive(md) {
      @include m.flex();
    }

    &:nth-of-type(1) {
      margin-top: f.rem(24);
      @include m.responsive(md) {
        margin-top: f.rem(32);
      }
    }

    &:nth-of-type(n+2) {
      margin-top: f.rem(27);
      @include m.responsive(md) {
        margin-top: f.rem(48);
      }
    }
  }

  &__block {
    &:nth-of-type(1) {
      flex-basis: percentage(math.div(510, 1088));
    }

    &:nth-of-type(2) {
      margin-top: f.rem(28);
      @include m.responsive(md) {
        flex-basis: percentage(math.div(578, 1088));
        margin-top: 0;
        padding-left: percentage(math.div(64, 1088));
      }
    }
  }

  &__head {
    padding-bottom: f.rem(8);
    border-bottom: 1px solid v.$COLOR_GRAY_1;
    font-weight: 600;
    @include m.font(
      $font-size: 14,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      padding-bottom: f.rem(12);
      @include m.font(
        $font-size: 15,
        $letter-spacing: 40
      );
    }
  }

  &__body {
    margin-top: f.rem(12);
    @include m.responsive(md) {
      margin-top: f.rem(19);
    }
  }

  &__item {
    position: relative;
    padding-left: 0.5em;
    @include m.font(
      $font-size: 13,
      $line-height: 18,
      $letter-spacing: 60
    );

    &::before {
      content: "";
      position: absolute;
      top: 8px;
      left: 2px;
      width: f.rem(3);
      height: f.rem(3);
      border-radius: 50%;
      background-color: v.$COLOR_BROWN;
      @include m.responsive(md) {
        width: f.rem(2);
        height: f.rem(2);
      }
    }
  }

  &__text {
    @include m.font(
      $font-size: 13,
      $line-height: 18,
      $letter-spacing: 60
    );
    @include m.responsive(md) {
      @include m.font(
        $font-size: 13,
        $line-height: 18
      );
    }
  }

  &__notes {
    padding-left: 1em;
    text-indent: -1em;
    @include m.font(
      $font-size: 13,
      $line-height: 18,
      $letter-spacing: 60
    );
    @include m.responsive(md) {
      margin-top: f.rem(-3);
      @include m.font(
        $font-size: 13,
        $line-height: 20
      );
    }

    &::before {
      content: "※";
    }
  }

  &__guide-list {
    margin-top: f.rem(22);
    @include m.responsive(md) {
      margin-top: f.rem(32);
      @include m.flex();
    }
  }

  &__guide-item {
    &:not(:first-of-type) {
      margin-top: f.rem(24);
      @include m.responsive(md) {
        margin-top: 0;
        margin-left: f.rem(32);
      }
    }
  }

  &__guide-link {
    font-weight: 600;
    @include m.font(
      $font-size: 16,
      $letter-spacing: 40
    );

    &::after {
      content: "";
      display: inline-block;
      width: f.rem(8);
      height: f.rem(12);
      margin-left: f.rem(5);
      background-image: url('#{v.$root}assets/images/icon_arrow_right.svg');
      background-repeat: no-repeat;
      background-size: contain;
      @include m.responsive(md) {
        transition: transform .3s ease-out;
      }
    }

    @include m.hover() {
      &::after {
        transform: translateX(4px);
      }
    }
  }
}