@use "sass:math";
@use "../../foundation/function" as f;
@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

/**
 * Object
 * ========================== */

/* Project ------------ */

/* recipe-make */
.recipe-make {
  &__heading {
    display: inline-flex;

    span {
      font-weight: 600;
      @include m.font(
        $color: v.$COLOR_GREEN,
        $font-size: 22,
        $letter-spacing: 40
      );
      @include m.responsive(md) {
        @include m.font(
          $font-size: 27
        );
      }
    }
  }

  &__dot-wrapper {
    margin-top: f.rem(-6);
    margin-left: f.rem(18);
    @include m.responsive(md) {
      margin-top: f.rem(-8);
      margin-left: f.rem(24);
    }
  }

  &__body {
    margin-top: f.rem(20);
    @include m.responsive(md) {
      margin-top: f.rem(32);
    }

    ul {
      counter-reset: number;
      border-top: 2px solid v.$COLOR_GRAY_1;
    }

    li {
      position: relative;
      padding: f.rem(22) 0 f.rem(22) f.rem(36);
      border-bottom: 2px solid v.$COLOR_GRAY_1;
      font-weight: 600;
      @include m.font(
        $font-size: 15,
        $line-height: 24,
        $letter-spacing: 60
      );
      @include m.responsive(md) {
        padding: f.rem(30) f.rem(8) f.rem(30) f.rem(76);
        @include m.font(
          $font-size: 17,
          $line-height: 28,
          $letter-spacing: 40
        );
      }

      &::before {
        counter-increment: number;
        content: counters(number, "");
        display: inline-flex;
        justify-content: center;
        position: absolute;
        top: 20px;
        left: 0;
        width: f.rem(28);
        height: f.rem(26);
        margin-right: f.rem(16);
        padding: f.rem(2) f.rem(10);
        border-top-left-radius: 9px;
        border-bottom-right-radius: 9px;
        background-color: v.$COLOR_GREEN;
        font-family: 'Heebo', sans-serif;
        font-weight: 500;
        @include m.font(
          $color: v.$COLOR_WHITE,
          $font-size: 15,
          $letter-spacing: 40
        );
        @include m.responsive(md) {
          top: 24px;
          left: 16px;
          width: f.rem(44);
          height: f.rem(40);
          padding: f.rem(6) f.rem(17);
          border-top-left-radius: 16px;
          border-bottom-right-radius: 16px;
          @include m.font(
            $font-size: 18
          );
        }
      }

      img {
        width: 100% !important;
        margin-top: f.rem(12);
        margin-bottom: f.rem(6);
        border-radius: 9px;
        overflow: hidden;
        @include m.responsive(md) {
          max-width: f.rem(560);
          margin-top: f.rem(26);
          margin-bottom: f.rem(10);
          border-radius: 12px;
        }
      }
    }

    a {
      text-decoration: underline;
      text-underline-offset: 2px;
      @include m.font(
        $color: v.$COLOR_GREEN
      );
    }
  }
}