@use "sass:math";
@use "../../foundation/function" as f;
@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

/**
 * Object
 * ========================== */

/* Project ------------ */

/* recipe-popular */
.recipe-popular {
  $this: &;

  &__heading {
    text-align: center;
    font-weight: 700;
    @include m.flex(
      $direction: column,
      $align-items: center
    );
    @include m.font(
      $font-size: 28,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      @include m.font(
        $font-size: 32
      );
    }

    &::before {
      content: "";
      display: inline-block;
      width: f.rem(40);
      height: f.rem(31);
      margin-bottom: f.rem(10);
      background-image: url('#{v.$root}assets/images/icon_crown.svg');
      background-repeat: no-repeat;
      background-size: contain;
      @include m.responsive(md) {
        width: f.rem(45);
        height: f.rem(35);
        margin-bottom: f.rem(16);
      }
    }
  }

  &__list {
    counter-reset: number;
    margin-top: f.rem(32);
    @include m.responsive(md) {
      margin-top: f.rem(46);
      @include m.flex(
        $justify-content: space-between
      );
    }
  }

  &__item {
    position: relative;
    @include m.responsive(md) {
      flex-basis: percentage(math.div(332, 1088));
    }

    &:not(:first-of-type) {
      margin-top: f.rem(42);
      @include m.responsive(md) {
        margin-top: 0;
      }
    }

    &:nth-of-type(1) {
      &::before {
        background-color: #f8ae00;
      }
    }

    &:nth-of-type(2) {
      &::before {
        background-color: #8f8f8f;
      }
    }

    &:nth-of-type(3) {
      &::before {
        background-color: #b26c09;
      }
    }

    &::before {
      counter-increment: number;
      content: counters(number, "");
      position: absolute;
      top: 12px;
      left: 12px;
      z-index: 1;
      width: f.rem(46);
      height: f.rem(44);
      padding: f.rem(12) f.rem(18);
      border-top-left-radius: 18px;
      border-bottom-right-radius: 18px;
      font-family: 'Heebo', sans-serif;
      font-weight: 500;
      @include m.font(
        $color: v.$COLOR_WHITE,
        $font-size: 20
      );
      @include m.responsive(md) {
        width: f.rem(44);
        height: f.rem(40);
        padding: f.rem(12) f.rem(17);
        border-top-left-radius: 16px;
        border-bottom-right-radius: 16px;
        @include m.font(
          $font-size: 18
        );
      }
    }
  }

  &__link {
    @include m.hover() {
      #{$this}__name {
        @include m.font(
          $color: v.$COLOR_GREEN
        );
      }

      #{$this}__name::after {
        transform: translateX(4px);
      }

      #{$this}__image {
        img {
          transform: scale(1.1);
        }
      }
    }
  }

  &__image {
    transform: translateZ(0);
    border-radius: 12px;
    overflow: hidden;

    img {
      @include m.responsive(md) {
        transition: transform .3s ease-out;
      }
    }
  }

  &__name {
    margin-top: f.rem(16);
    font-weight: 600;
    @include m.font(
      $font-size: 15,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      margin-top: f.rem(14);
      transition: color .3s ease-out;
      @include m.font(
        $font-size: 16
      );
    }

    &::after {
      content: "";
      display: inline-block;
      width: f.rem(7.5);
      height: f.rem(12);
      margin-left: f.rem(8);
      background-image: url('#{v.$root}assets/images/icon_arrow_right.svg');
      background-repeat: no-repeat;
      background-size: contain;
      vertical-align: baseline;
      @include m.responsive(md) {
        width: f.rem(8);
        margin-left: f.rem(6);
        transition: transform .3s ease-out;
      }
    }
  }
}