@use "sass:math";
@use "../../foundation/function" as f;
@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

/**
 * Object
 * ========================== */

/* Project ------------ */

/* recipe-detail */
.recipe-detail {
  &__column {
    @include m.flex(
      $direction: column
    );
    @include m.responsive(md) {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &__text {
    padding-top: f.rem(32);
    @include m.responsive(md) {
      flex-basis: percentage(math.div(488, 1088));
      padding-top: f.rem(11);
      padding-left: percentage(math.div(48, 1088));
    }
  }

  &__image {
    order: -1;
    border-radius: 9px;
    overflow: hidden;
    @include m.responsive(md) {
      flex-basis: percentage(math.div(600, 1088));
      border-radius: 12px;
    }
  }

  &__name {
    @include m.flex(
      $align-items: flex-start
    );
  }

  &__sub {
    display: inline-block;
    margin-top: f.rem(2);
    padding: f.rem(5.5) f.rem(11);
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: v.$COLOR_GREEN;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    @include m.font(
      $color: v.$COLOR_WHITE,
      $font-size: 13,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      padding: f.rem(8) f.rem(15);
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
      @include m.font(
        $font-size: 16
      );
    }
  }

  &__main {
    display: inline-block;
    margin-left: f.rem(12);
    @include m.font(
      $color: v.$COLOR_GREEN,
      $font-size: 24,
      $line-height: 28,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      margin-left: f.rem(16);
      @include m.font(
        $font-size: 30,
        $line-height: 35
      );
    }
  }

  &__lead {
    margin-top: f.rem(20);
    font-weight: 600;
    @include m.font(
      $font-size: 16,
      $line-height: 22,
      $letter-spacing: 60
    );
    @include m.responsive(md) {
      margin-top: f.rem(26);
      @include m.font(
        $font-size: 18,
        $line-height: 25
      );
    }

    sup {
      top: 0em;
      @include m.font(
        $font-size: 18
      );
    }
  }

  &__description {
    margin-top: f.rem(9);
    @include m.font(
      $font-size: 15,
      $line-height: 24,
      $letter-spacing: 60
    );
    @include m.responsive(md) {
      margin-top: f.rem(12);
      @include m.font(
        $font-size: 16,
        $line-height: 28
      );
    }
  }

  &__time {
    display: inline-flex;
    align-items: center;
    margin-top: f.rem(15);
    font-weight: 600;
    @include m.font(
      $color: v.$COLOR_GREEN,
      $font-size: 14,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      margin-top: f.rem(16);
      @include m.font(
        $color: v.$COLOR_GREEN,
        $font-size: 13
      );
    }

    &::before {
      content: "";
      display: inline-block;
      width: f.rem(16);
      height: f.rem(16);
      margin-right: f.rem(6);
      vertical-align: sub;
      background-image: url('#{v.$root}assets/images/icon_time.svg');
      background-repeat: no-repeat;
      background-size: contain;
      vertical-align: sub;
      @include m.responsive(md) {
        width: f.rem(17);
        height: f.rem(17);
        margin-right: f.rem(6);
      }
    }
  }

  &__share-wrapper {
    margin-top: f.rem(26);
    @include m.responsive(md) {
      margin-top: f.rem(30);
    }
  }
}
