@use "sass:math";
@use "../../foundation/function" as f;
@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

/**
 * Object
 * ========================== */

/* Project ------------ */

/* recipe-list */
.recipe-list {
  $this: &;
  position: relative;

  &__heading {
    text-align: center;
    font-weight: 600;
    @include m.flex(
      $direction: column,
      $align-items: center
    );
    @include m.font(
      $color: v.$COLOR_GREEN,
      $font-size: 28,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      @include m.font(
        $font-size: 32
      );
    }
  }

  &__dot-wrapper {
    display: inline-block;
    margin-top: f.rem(3);
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: f.rem(32) f.rem(23);
    margin-top: f.rem(36);
    @include m.responsive(md) {
      grid-template-columns: repeat(4, 1fr);
      gap: f.rem(48) f.rem(32);
      margin-top: f.rem(60);
    }
  }

  &__item {
    position: relative;
  }

  &__link {
    @include m.hover() {
      #{$this}__image {
        img {
          transform: scale(1.1);
        }
      }

      #{$this}__name {
        @include m.font(
          $color: v.$COLOR_GREEN
        );

        &::after {
          transform: translateX(4px);
        }
      }
    }
  }

  &__image {
    transform: translateZ(0);
    border-radius: 9px;
    overflow: hidden;
    @include m.responsive(md) {
      border-radius: 12px;
    }

    img {
      @include m.responsive(md) {
        transition: transform .3s ease-out;
      }
    }
  }

  &__name {
    margin-top: f.rem(10);
    font-weight: 600;
    @include m.font(
      $font-size: 13,
      $line-height: 18,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      margin-top: f.rem(12);
      transition: color .3s ease-out;
      @include m.font(
        $font-size: 16
      );
    }

    &::after {
      content: "";
      display: inline-block;
      width: f.rem(6);
      height: f.rem(9);
      margin-left: f.rem(4);
      background-image: url('#{v.$root}assets/images/icon_arrow_right.svg');
      background-repeat: no-repeat;
      background-size: contain;
      vertical-align: baseline;
      @include m.responsive(md) {
        width: f.rem(8);
        height: f.rem(12);
        transition: transform .3s ease-out;
      }
    }
  }

  &__time {
    margin-top: f.rem(5);
    font-weight: 600;
    @include m.font(
      $color: v.$COLOR_GREEN,
      $font-size: 12,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      margin-top: f.rem(8);
      @include m.font(
        $font-size: 13
      );
    }

    &::before {
      content: "";
      display: inline-block;
      width: f.rem(12);
      height: f.rem(12);
      margin-right: f.rem(4);
      background-image: url('#{v.$root}assets/images/icon_time.svg');
      background-repeat: no-repeat;
      background-size: contain;
      vertical-align: bottom;
      @include m.responsive(md) {
        width: f.rem(16);
        height: f.rem(16);
        margin-right: f.rem(6);
        vertical-align: sub;
      }
    }
  }

  &__new {
    position: absolute;
    top: -10px;
    right: -10px;
    width: f.rem(44);
    height: f.rem(44);
    padding: f.rem(17) f.rem(8);
    border-radius: 50%;
    background-color: v.$COLOR_YELLOW_GREEN;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    @include m.font(
      $color: v.$COLOR_WHITE,
      $font-size: 12,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      top: -12px;
      right: -12px;
      width: f.rem(56);
      height: f.rem(56);
      padding: f.rem(22) f.rem(9);
      @include m.font(
        $font-size: 15
      );
    }

    span {
      margin-top: f.rem(1);
      margin-left: f.rem(1);
    }
  }
}