@use "sass:math";
@use "../../foundation/function" as f;
@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

/**
 * Object
 * ========================== */

/* Project ------------ */

/* review-post */
.review-post {
  $this: &;
  padding-top: f.rem(104);
  padding-bottom: f.rem(90);
  background-color: v.$COLOR_GRAY_1;
  @include m.responsive(md) {
    padding-top: f.rem(150);
    padding-bottom: f.rem(160);
  }

  &__inner {
    @include m.inner;
  }

  &__contents {
    position: relative;
    z-index: 10;
  }

  &__review-products-wrapper {
    margin-top: f.rem(34);
    @include m.responsive(md) {
      margin-top: f.rem(46);
    }
  }

  &__body {
    margin-top: f.rem(40);
    padding: f.rem(52) f.rem(25) f.rem(62);
    border-radius: 9px;
    background-color: v.$COLOR_WHITE;
    @include m.responsive(md) {
      margin-top: f.rem(56);
      padding: f.rem(60) f.rem(132) f.rem(78);
      border-radius: 12px;
    }
  }

  &__button-wrapper {
    margin-top: f.rem(40);
    @include m.flex(
      $justify-content: center
    );
    @include m.responsive(md) {
      margin-top: f.rem(48);
    }
  }
}