@use "sass:math";
@use "../../foundation/function" as f;
@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

/**
 * Object
 * ========================== */

/* Project ------------ */

/* single */
.single {
  &__head {
    padding: f.rem(17);
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    background-color: v.$COLOR_GREEN;
    text-align: center;
    font-weight: 600;
    @include m.font(
      $color: v.$COLOR_WHITE,
      $font-size: 22,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      padding: f.rem(22);
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      @include m.font($font-size: 24);
    }
  }

  &__body {
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    background-color: v.$COLOR_WHITE;
    @include m.responsive(md) {
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: f.rem(40) f.rem(25) f.rem(60);
    gap: f.rem(52) 0;
    @include m.responsive(md) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 0 percentage(math.div(38, 1088));
      padding: f.rem(48) percentage(math.div(52, 1088)) f.rem(64);
    }
  }
}