@use "sass:math";
@use "../../foundation/function" as f;
@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

/**
 * Object
 * ========================== */

/* Project ------------ */

/* story */
.story {
  position: relative;
  margin-top: f.rem(-52);
  padding-top: f.rem(104);
  @include m.responsive(md) {
    margin-top: f.rem(-10);
    padding-top: f.rem(113);
    padding-bottom: f.rem(126);
  }

  &__inner {
    @include m.inner;
  }

  &__column {
    position: relative;
    margin-top: f.rem(50);
    @include m.responsive(md) {
      margin-top: f.rem(40);
    }
  }

  &__block {
    @include m.responsive(md) {
      @include m.flex(
        $align-items: flex-start
      );
    }
  }

  &__text {
    @include m.responsive(md) {
      flex-basis: percentage(math.div(620, 1088));
      padding-top: f.rem(48);
    }
  }

  &__heading {
    font-weight: 600;
    @include m.font(
      $color: v.$COLOR_GREEN,
      $font-size: 24,
      $line-height: 22.5,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      @include m.font(
        $color: v.$COLOR_GREEN,
        $font-size: 30
      );
    }

    &::before {
      content: "";
      display: inline-block;
      width: f.rem(20);
      height: f.rem(20);
      margin-right: f.rem(14);
      border-top-left-radius: 6px;
      border-bottom-right-radius: 6px;
      background-color: v.$COLOR_GREEN;
      @include m.responsive(md) {
        width: f.rem(24);
        height: f.rem(24);
      }
    }
  }

  &__description {
    @include m.font(
      $font-size: 15,
      $line-height: 24,
      $letter-spacing: 60
    );
    @include m.responsive(md) {
      @include m.font(
        $font-size: 16,
        $line-height: 28
      );
    }

    &:first-of-type {
      margin-top: f.rem(22);
      @include m.responsive(md) {
        margin-top: f.rem(32);
      }
    }

    &:not(:first-of-type) {
      margin-top: f.rem(8);
      @include m.responsive(md) {
        margin-top: f.rem(18);
      }
    }

    span {
      font-weight: 600;
    }
  }

  &__image {
    width: 86%;
    margin: f.rem(30) auto 0;
    @include m.responsive(md) {
      flex-basis: percentage(math.div(468, 1088));
      margin-top: 0;
      padding-left: percentage(math.div(48, 1088));
    }
  }
}