@use "sass:math";
@use "../../foundation/function" as f;
@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

/**
 * Object
 * ========================== */

/* Project ------------ */

/* stores */
.stores {
  $this: &;
  position: relative;
  padding-top: f.rem(64);
  @include m.responsive(md) {
    padding-top: f.rem(72);
  }

  &[id] {
    margin-top: f.rem(-70);
    padding-top: f.rem(130);

    @include m.responsive(md) {
      margin-top: f.rem(-103);
      padding-top: f.rem(163);
    }
  }

  &__heading {
    padding: f.rem(17);
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    background-color: v.$COLOR_GREEN;
    font-weight: 600;
    text-align: center;
    @include m.font(
      $color: v.$COLOR_WHITE,
      $font-size: 16,
      $line-height: 22.5,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      @include m.font(
        $font-size: 24
      );
    }

    sup {
      top: -0.5em;
    }
  }

  &__info {
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    @include m.responsive(md) {
      flex-direction: row;
      position: relative;
      overflow: visible;
    }
  }

  &__navigation {
    border-radius: 9px;
    background-color: v.$COLOR_WHITE;
    @include m.responsive(md) {
      flex-basis: percentage(math.div(355, 1088));
      height: f.rem(654);
      padding: f.rem(34) f.rem(48);
      border-radius: 12px;
      border-top-left-radius: 0;
      border-bottom-right-radius: 0;
      overflow-y: scroll;
    }
  }

  &__block {
    &:not(:nth-of-type(2)) {
      border-top: solid 2px v.$COLOR_GRAY_1;
      @include m.responsive(md) {
        border-top: none;
      }
    }

    &:first-of-type {
      display: none;
      @include m.responsive(md) {
        display: block;
      }
    }

    &:last-of-type {
      #{$this}__body {
        border-bottom-right-radius: 9px;
        border-bottom-left-radius: 9px;
      }
    }
  }

  &__tab {
    #{$this}__dot-wrapper {
      display: none;
      @include m.responsive(md) {
        display: none;
      }
    }
  }

  &__head {
    padding: f.rem(19) f.rem(25);
    background-color: v.$COLOR_YELLOW_GREEN;
    color: v.$COLOR_WHITE;
    @include m.flex(
      $align-items: center
    );
    @include m.responsive(md) {
      display: none;
    }

    #{$this}__dot-wrapper {
      display: inline-flex;
      justify-content: center;
      position: relative;
      width: f.rem(22);
      margin-left: f.rem(4);
    }
  }

  &__trigger {
    width: 100%;
    padding: f.rem(16) f.rem(25);
    font-weight: 700;
    @include m.flex(
      $justify-content: space-between,
      $align-items: center
    );
    @include m.font(
      $color: v.$COLOR_BROWN,
      $font-size: 15,
      $line-height: 23
    );
    @include m.responsive(md) {
      padding: f.rem(11.25) f.rem(22);
      color: v.$COLOR_GRAY_2;
      transition: background-color .5s ease-in-out, color .5s ease-in-out, color .3s ease-in-out;
      @include m.flex(
        $direction: row-reverse,
        $justify-content: flex-end
      );
    }

    &[aria-expanded='true'] {
      background-color: v.$COLOR_YELLOW_GREEN_2;
      color: v.$COLOR_WHITE;
      @include m.responsive(md) {
        background-color: v.$COLOR_WHITE;
        color: v.$COLOR_GREEN;
      }
      #{$this}__tabicon::before {
        background-color: v.$COLOR_WHITE;
        @include m.responsive(md) {
          background-color: v.$COLOR_GREEN;
        }
      }

      #{$this}__tabicon::after {
        opacity: 0;
        transform: rotate(0);
      }

      #{$this}__dot-wrapper {
        @include m.responsive(md) {
          display: inline-flex;
          justify-content: center;
          width: f.rem(22);
          margin-right: f.rem(6);
        }
      }
    }
    @include m.hover() {
      color: v.$COLOR_GREEN;
    }
  }

  &__header {
    font-weight: 600;
    @include m.font(
      $font-size: 13
    );
    @include m.responsive(md) {
      @include m.font(
        $font-size: 15
      );
    }
  }

  &__tabicon {
    display: inline-block;
    position: relative;
    width: f.rem(12);
    height: f.rem(12);
    @include m.responsive(md) {
      display: none;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      background-color: v.$COLOR_GREEN;
      inset: 0;
      width: 100%;
      height: 2px;
      margin: auto;
    }

    &::after {
      opacity: 1;
      transform: rotate(90deg);
      @include m.responsive(md) {
        transition: opacity .5s ease-in-out, transform .5s ease-in-out;
      }
    }
  }

  &__tab-panel {
    opacity: 1;
    @include m.responsive(md) {
      position: absolute;
      top: 20px;
      left: percentage(math.div(387, 1088));
      z-index: 1;
      height: auto !important;
    }

    &#all {
      @include m.responsive(md) {
        display: none;
      }
    }

    &[aria-hidden="true"] {
      @include m.responsive(md) {
        opacity: 0;
      }
    }

    &[aria-hidden="false"] {
      @include m.responsive(md) {
        opacity: 1;
      }
    }
  }

  &__body {
    padding: f.rem(21) f.rem(21) f.rem(29);
    background-color: v.$COLOR_BEIGE;
    @include m.responsive(md) {
      width: f.rem(264);
      padding: f.rem(27) f.rem(32) f.rem(26);
      border: solid 2px v.$COLOR_GREEN;
      border-top-left-radius: 40px;
      border-bottom-right-radius: 40px;
      background-color: v.$COLOR_WHITE;
    }
  }

  &__name {
    width: fit-content;
    font-weight: 700;
    @include m.responsive(md) {
      font-size: f.vw(20, 1280);
    }

    a {
      @include m.font(
        $font-size: 18,
        $letter-spacing: 0
      );
      @include m.responsive(md) {
        @include m.font(
          $font-size: 18,
          $line-height: 28
        );
      }

      &:after {
        content: '';
        display: inline-block;
        width: f.rem(12);
        height: f.rem(12);
        margin-left: f.rem(8);
        vertical-align: middle;
        background-image:  url('#{v.$root}assets/images/icon_blank.svg');
        background-repeat: no-repeat;
        background-size: contain;
        @include m.responsive(md) {
          top: 4px;
          right: -19px;
        }
      }
    }
  }

  &__list {
    margin-top: f.rem(18);
    @include m.responsive(md) {
      margin-top: f.vw(4, 1280);
    }
  }

  &__item {
    position: relative;
    @include m.font(
      $font-size: 13,
      $line-height: 15.5,
      $letter-spacing: 0
    );
    @include m.responsive(md) {
      @include m.font(
        $font-size: 14,
        $line-height: 20
      );
    }

    &:not(:first-of-type) {
      margin-top: f.rem(12);
      @include m.responsive(md) {
        margin-top: f.vw(6, 1280);
      }
    }

    &::before {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__link {
    display: inline-block;
    position: relative;
    margin-top: f.rem(10);
    font-weight: 700;
    @include m.font(
      $font-size: 11
    );
    @include m.responsive(md) {
      display: none;
    }

    &:after {
      content: '';
      position: absolute;
      top: 2px;
      right: -12px;
      width: f.rem(9);
      height: f.rem(9);
      vertical-align: middle;
      background-image:  url('#{v.$root}assets/images/icon_blank.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__map {
    display: none;
    @include m.responsive(md) {
      display: block;
      flex-basis: percentage(math.div(733, 1088));
      position: relative;
      padding-top: 60.15%;
      border-bottom-right-radius: 10px;
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__menu-wrapper {
    margin-top: f.rem(40);
    @include m.responsive(md) {
      margin-top: f.rem(48);
    }
  }

  &__notes {
    margin-top: f.rem(16);
    padding-left: 1em;
    text-indent: -1em;
    @include m.font(
      $font-size: 13,
      $line-height: 18,
      $letter-spacing: 40
    );
    @include m.responsive(md) {
      margin-top: f.rem(21);
      padding-left: 0.75em;
      text-indent: 0;
      @include m.font(
        $font-size: 13,
        $line-height: 18
      );
    }
  }

  &__image {
    margin-top: f.rem(88);
    @include m.responsive(md) {
      margin-top: f.rem(126);
    }

    img {
      width: 100%;
    }
  }

  &__shape {
    position: absolute;
    will-change: transform;

    img {
      width: 100%;
    }

    &--01 {
      top: f.vw(130, 375);
      right: f.vw(-32, 375);
      width: f.vw(60, 375);
      height: f.vw(55, 375);
      @include m.responsive(md) {
        top: f.vw(55, 1280);
        right: f.vw(-52, 1280);
        width: f.vw(120, 1280);
        height: f.vw(110, 1280);
      }
    }

    &--02 {
      top: f.vw(156, 375);
      right: f.vw(-90, 375);
      width: f.vw(150, 375);
      height: f.vw(137.5, 375);
      @include m.responsive(md) {
        top: f.vw(106, 1280);
        right: f.vw(-165, 1280);
        width: f.vw(300, 1280);
        height: f.vw(281, 1280);
      }

      path {
        stroke-width: 4px;
        @include m.responsive(md) {
          stroke-width: 2px;
        }
      }
    }

    &--03 {
      bottom: f.vw(143, 375);
      left: f.vw(-54, 375);
      width: f.vw(150, 375);
      height: f.vw(141.5, 375);
      @include m.responsive(md) {
        bottom: f.vw(183, 1280);
        left: f.vw(-137, 1280);
        width: f.vw(300, 1280);
        height: f.vw(281, 1280);
      }
    }
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: v.$COLOR_GRAY_1;
  }

  ::-webkit-scrollbar-thumb {
    background: v.$COLOR_GREEN;
  }
}