@use "../../foundation/function" as f;
@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;

/**
 * Object
 * ========================== */

/* Project ------------ */

/* guide-accordion */
.guide-accordion {
  $this: &;
  position: relative;

  &__block {
    border-bottom: 2px solid v.$COLOR_GRAY_5;
  }

  &__trigger {
    position: relative;
    width: 100%;
    padding: f.rem(22) f.rem(32) f.rem(22) f.rem(36);
    font-weight: 600;
    @include m.font(
      $color: v.$COLOR_BROWN,
      $font-size: 15,
      $line-height: 24,
      $letter-spacing: 60
    );
    @include m.responsive(md) {
      padding: f.rem(30) f.rem(56) f.rem(30) f.rem(82);
      transition: color .3s ease-in-out;
      @include m.font(
        $font-size: 17,
        $line-height: 28
      );
    }

    &[aria-expanded='true'] {
      #{$this}__tabicon::after {
        opacity: 0;
        transform: rotate(0);
      }
    }

    &::before {
      content: "Q";
      position: absolute;
      top: 20px;
      left: 0;
      width: f.rem(28);
      height: f.rem(26);
      padding: f.rem(2) f.rem(9);
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
      background-color: v.$COLOR_GREEN;
      color: v.$COLOR_WHITE;
      font-family: 'Heebo', sans-serif;
      font-weight: 500;
      @include m.font(
        $font-size: 15,
        $letter-spacing: 40
      );
      @include m.responsive(md) {
        top: 26px;
        left: 16px;
        width: f.rem(44);
        height: f.rem(40);
        padding: f.rem(5) f.rem(16);
        border-top-left-radius: 16px;
        border-bottom-right-radius: 16px;
        @include m.font(
          $font-size: 18
        );
      }
    }
    @include m.hover() {
      color: v.$COLOR_GREEN;
    }
  }

  &__tabicon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: f.rem(12);
    height: f.rem(12);
    @include m.responsive(md) {
      right: 24px;
      width: f.rem(18);
      height: f.rem(18);
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      background-color: v.$COLOR_GREEN;
      inset: 0;
      width: 100%;
      height: 2px;
      margin: auto;
    }

    &::after {
      opacity: 1;
      transform: rotate(90deg);
      transition: opacity .5s ease-in-out, transform .5s ease-in-out;
    }
  }

  &__tab-panel {
    @include m.font(
      $font-size: 13,
      $line-height: 21
    );
    @include m.responsive(md) {
      @include m.font(
        $font-size: 16,
        $line-height: 28
      );
    }
  }

  &__body {
    padding: 0 f.rem(32) f.rem(18) f.rem(36);
    @include m.font(
      $font-size: 14,
      $line-height: 22,
      $letter-spacing: 60
    );
    @include m.responsive(md) {
      padding: 0 f.rem(56) f.rem(38) f.rem(82);
    }

    span {
      font-weight: 600;
    }

    em {
      @include m.font(
        $color: v.$COLOR_RED
      );
    }
  }

  &__link {
    text-decoration: underline;
    text-underline-offset: 2px;
    @include m.responsive(md) {
      transition: color .3s ease-out;
    }

    @include m.hover() {
      @include m.font(
        $color: v.$COLOR_GREEN
      );
    }
  }

  &__list {
    margin-top: f.rem(10);
    margin-bottom: f.rem(10);
    @include m.responsive(md) {
      margin-top: f.rem(16);
      margin-bottom: f.rem(16);
    }
  }

  &__item {
    position: relative;
    padding-left: 1em;
    @include m.font(
      $font-size: 14,
      $line-height: 22,
      $letter-spacing: 60
    );

    @include m.responsive(md) {
      @include m.font(
        $font-size: 14,
        $line-height: 21
      );
    }

    &:not(:first-of-type) {
      margin-top: f.rem(2);
      @include m.responsive(md) {
        margin-top: 0;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 8.5px;
      left: 2px;
      width: f.rem(2.5);
      height: f.rem(2.5);
      border-radius: 50%;
      background-color: v.$COLOR_BROWN;
      @include m.responsive(md) {
        width: f.rem(2);
        height: f.rem(2);
      }
    }
  }
}