@use "../../foundation/function" as f;
@use "../../foundation/mixin" as m;
@use "../../foundation/variables" as v;
@use "sass:color";
@use "sass:math";

.work {

    // margin: 80px 0 0;
    padding-top: 120px;
    @include m.responsive(md) {
        padding-top: 160px;
        margin: 0 100px 0;

        
    }
    @include m.responsive(xl) {
        width: 100%;
        max-width: 900px;
        padding-top: 200px;
        margin: 0 auto;
    }

    // .work__head
    &__head {
        margin: 0 25px;
        @include m.responsive(md) {
            width: 100%;
            max-width: 740px;
            margin: 0;
        }
        @include m.responsive(xl) {
            width: 880px;
        }
    }

    // .work__list
    &__list {
        display: grid;
        grid-template-columns: repeat(2, 45%);
        grid-gap: 30px 25px;
        margin: 44px 25px 0;
        
        @include m.responsive(md) {
            margin: 80px 0 0;
            grid-template-columns: repeat(2, 45%);
            grid-gap: 40px 20px;
        }
    }
    // .work__item
    &__item {
        // border: 1px solid v.$COLOR_TEAL;
        padding-top: 30px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        @include m.responsive(md) {
            display: block;
        }
        a {    
            display: flex;
            padding: 44px 25px;
            @include m.responsive(md) {
                padding: 44px 40px;
            }
        }

        &:hover {
            cursor: pointer;
            .work__thumb{
                opacity: 0.4;
                img {
                    transform: scale(1.05);
                    filter: blur(3px);
                }
            }
            .work__label{
                opacity: 1;
            }
        }
    }

    // .work__thumb
    &__thumb {
        transition: opacity .3s ease;
        opacity: 0.7;
        overflow: hidden;
        aspect-ratio: 1280/790;
        border-radius: 4px;
        order: 1;
        
        img {
            filter: blur(0px);
            transition: transform .3s ease;
        }

        @at-root .modal & {
            margin: 0 auto 20px;
            opacity: 1;
            @include m.responsive(md) {
                margin: 0 auto 10px;
                width: 90%;
            }
        }
    }

    &__label {
        padding: 10px 0;
        width: 100%;
        order: 2;
        
        @include m.responsive(md) {
            height: 100%;
            transition: opacity .3s ease;
            padding: 20px;
            opacity: 0;
            position: absolute;
            align-items: center;
            display: flex;
            justify-content: center;
            left: 0;
            top: 0;
        }
    }
    // .work__hdg
    &__hdg {
        
        
        font-size: 16px;
        line-height: 1.6rem;
        font-weight: 500;
        color: #c9dbd8;

        @include m.responsive(md) {
            margin-top: 40px;
            text-align: center;
        }

        @at-root .modal & {
            font-size: 24px;
            margin-bottom: 20px;
        }

        
    }

    // .work__taglist
    &__taglist {
        display: block;
        order: 3;
        @include m.responsive(md) {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            display: flex;
            justify-content: flex-end;
        }

        span {
            font-size: 12px;
            background-color: v.$COLOR_TEAL;
            color: v.$COLOR_WHITE;
            font-weight: 500;
            padding: 3px 6px;
            border-radius: 2px;
            display: inline-block;
            margin-top: 8px;
            &:not(:last-child) {
                margin-right: 6px;
            }
            @include m.responsive(md) {
                margin-top: 0;
            }
        }

        @at-root .modal & {
            position: relative;
            justify-content: center;
            margin-bottom: 25px;
        }
    }

    // .work__description
    &__description {
        margin-bottom: 40px;
    }
    // .work__desc
    &__desc {
        font-size: 0.9rem;
        color: #c9dbd8;
        margin-bottom: 1rem ;

    }

    &__hdg2 {
        font-weight: 500;
        color: #c9dbd8;
        font-size: 14px;
    }
    &__dtl-list {
        margin-top: 14px;
        margin-bottom: 32px;
    }
    &__list-item {
        font-size: 12px;
        color: #c9dbd8;
        margin: 0.4rem 0 0.2rem;
    }

    // .work__details1
    &__details1 {
        @include m.responsive(md) {
            padding: 24px 5% 0 0 ;
            width: 20%;
            min-width: 160px;
            text-align: right;
        }
    }
    // .work__details2
    &__details2 {
        @include m.responsive(md) {
            width: 75%;
            border-left: 1px solid rgba(#c9dbd8, 0.5);
            padding: 10px 0 10px 5%;
            margin-top: 10px;
        }

    }

}


.page-work {

    .modal-wrapper {
        @include m.responsive(md) {
            width: 75%;
            margin: 0 auto;
        }
    }
    .modal-content {
        display: flex;
        flex-direction: column-reverse;
        @include m.responsive(md) {
            justify-content: flex-end;
            flex-direction: row;
        }
    }
}